.exhibition {
    position: relative;
    .content {
        background-color: #e9e9e9;
        height: 62vh;
        margin: 3vw auto 0;
        position: relative;
        padding: 5vh 0;

        div.l {
            width: 6%;
            margin-left: 10%;
            float: left;
            background-color: white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            height: 80%;
            h2 {
                font-size: 1vw;
                height: 60px;
                line-height: 60px;
                color: white;
                background-color: #333333;
                text-align: center;
            }
            overflow: hidden;
            ul {
                overflow: auto;
                height: calc(~"100% - 60px");
                padding-right: 17px;
                width: 5.2vw;
                li {
                    line-height: 3vw;
                    text-align: center;
                    font-size: 0.9vw;
                    width: 100%;
                    cursor: pointer;

                    &.on {
                        font-weight: 600;
                    }
                }
            }
        }

        div.r {
            float: right;
            width: 70%;
            margin-right: 10%;
            ul {
                height: 100%;
                overflow-y: auto;
                width: 100%;
                padding-right: 20%;
                li {
                    margin-top: 2vw;
                    &:first-child {
                        margin-top: 0;
                    }

                    &>a {
                        &>h2 {
                            font-size: 1vw;
                            font-weight: 500;
                            color: #3F3F3F;
                        }

                        div {
                            display: block;
                            margin-top: 1vw;
                            font-size: 0.8vw;
                            color: #3F3F3F;
                        }
                    }
                }
            }
        }
    }
}
.exhibition-scroll{
    position: absolute;
    right: 12%;
    top: 0;
    height: 72vh;
    .t{
        height: 8%;
        i{
            font-size: 2vw;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            display: block;
        }
    }
    .c{
        height: 84%;
        position: relative;
        &::before{
            content: "";
            left: 50%;
            position: absolute;
            transform: translateX(-50%);
            top: 0;
            height: 100%;
            border-left: 1.5px solid #666666;
        }
    }
    .b{
        height: 8%;
        i{
            font-size: 2vw;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            display: block;
        }
    }
}