<link rel="stylesheet" href="/ContentWeb/css/public.css">
<link rel="stylesheet" href="/ContentWeb/css/header.css">
<link rel="stylesheet" href="//at.alicdn.com/t/font_1525034_9aeco6m7ne8.css">
<div class="header cn">
    <div class="content">
        <div class="logo"><a href="/"><img src="/ContentWeb/images/logo.jpg" alt=""></a></div>
        <div class="wap-btn">
            <i class="iconfont icon-ego-menu"></i>
        </div>
        <div class="r">
            <span class="wap-close"><i class="iconfont icon-cha1"></i></span>
            <div class="nav headerNav">
                <ul>
                    <li>
                        <a href="/product">作品</a>
                    </li>
                    <li>
                        <a href="javascript:">研究</a>
                        <div>
                            <a href="/study">观点</a>
                            <a href="/chair">讲座</a>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:">媒体</a>
                        <div>
                            <a href="">线上</a>
                            <a href="/publish">出版</a>
                            <a href="">展览</a>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:">建筑营</a>
                        <div>
                            <a href="/hwq">韩文强</a>
                            <a href="/about">建筑营</a>
                            <a href="/honor">荣誉</a>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:">联系</a>
                        <div>
                            <a href="/contact">联系</a>
                            <a href="/join">招聘</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="language">
                <span class="en-btn">EN</span>
            </div>
        </div>
    </div>
</div>
<div class="header en">
    <div class="content">
        <div class="logo"><a href="/"><img src="/ContentWeb/images/logo.jpg" alt=""></a></div>
        <div class="wap-btn">
            <i class="iconfont icon-ego-menu"></i>
        </div>
        <div class="r">
            <span class="wap-close"><i class="iconfont icon-cha1"></i></span>
            <div class="nav headerNav">
                <ul>
                    <li>
                        <a href="/product">production</a>
                    </li>
                    <li>
                        <a href="javascript:">study</a>
                        <div>
                            <a href="">viewpoint</a>
                            <a href="">chair</a>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:">media</a>
                        <div>
                            <a href="">on-line</a>
                            <a href="">publish</a>
                            <a href="">exhibition</a>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:">Construction camp</a>
                        <div>
                            <a href="">Wen-qiang han</a>
                            <a href="">Construction camp</a>
                            <a href="">honor</a>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:">contact</a>
                        <div>
                            <a href="">contact</a>
                            <a href="">join</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="language">
                <span class="cn-btn">中</span>
            </div>
        </div>
    </div>
</div>
<div class="header-h"></div>
<script src="/ContentWeb/js/jquery.min.js"></script>
<script src="/ContentWeb/js/public.js"></script>