<link rel="stylesheet" href="/ContentWeb/css/about.css">
<div class="about">
    <div class="content">
        <div class="top">
            <img src="/ContentWeb/images/about_top.jpg" alt="">
        </div>
        <div class="text">
            <div class="l">
                <h2>建筑营</h2>
            </div>
            <div class="r">
                <p>建筑营设计工作室（ARCHSTUDIO）2010年创立于北京798艺术区，主张在实践中保持人、自然、历史、商业的和谐平衡，追寻设计的本真之道，把控从概念到建造的流程，创造基于当代、面向未来的高品质、有情感的空间环境。目前工作室主要聚焦于自然环境中的建筑、城市建筑更新改造、室内消费空间升级等设计议题。
                </p>
                <p style="margin-top:1.5vw;">
                    空间是各种关系的集合，建筑营的实践以「关系的设计」梳理不确定性的现实，协调处理大小、内外、新旧、人工与自然等之间的关系，随物赋形、为心造境，激发空间与身体行为的互动，营造广袤的空间感知，提升物质空间的精神内涵和体验价值。
                </p>
                <p style="margin-top:1.5vw;">2015年，建筑营入选美国权威媒体《建筑实录》评选的全球十佳先锋设计事务所，并于2015—2019年连续入选「AD100」中国最具影响力建筑设计精英。
                </p>
                <p style="margin-top:1.5vw;">所获奖项：LEAF欧洲杰出建筑师论坛建筑奖、美国Architizer「A+ Awards」建筑奖、木结构与建筑设计奖、美国Interior
                    Design年度最佳设计奖、Archdaily全球年度建筑奖、ASC中国建筑学会建筑设计奖、WA中国建筑奖入围奖、中国台湾TID室内设计金奖、APIDA亚太区室内设计金奖等。
                    受邀参展：美国哈佛大学当代中国建筑展、UED十年百名建筑师展、韩国光州设计双年展、意大利米兰设计周、北京设计周主题展等众多国际国内展览。</p>
            </div>
        </div>
    </div>
</div>
<div class="team">
    <div class="content">
        <div class="l">
            <h2>团队</h2>
        </div>
        <div class="r">
            <h2 style="font-size: 1vw;">主持建筑师</h2>
            <p style="margin-top: 0.5vw; font-size: 0.9vw;">韩文强</p>
            <h2 style="font-size: 1vw; margin-top: 1.5vw;">团队成员</h2>
            <p style="margin-top: 0.5vw; font-size: 0.9vw;">李晓明|姜 兆|宋慧中|王同辉|曹 冲|文琛涵|雷 馨 </p>
            <h2 style="font-size: 1vw; margin-top: 1.5vw;">过往成员</h2>
            <p style="margin-top: 0.5vw; font-size: 0.9vw;">丛 晓|王 莹|王 汉|周陈渝|孙 骁|毕 拓|张力文|张梦晶|杨滨林|吕云涛<br />
                宋国超|孔 琳|高文毓|郭廖辉|陈益阳|王晓汀|赵 阳|李云涛|朱亚伟|张 扬|胡 博|黄 涛</p>
        </div>
    </div>
</div>