<link rel="stylesheet" href="/ContentWeb/css/chair.css">
<div class="chair">
    <div class="content">
        <ul>
            <li>
                <h2>2016</h2>
                <a href="">
                    2016 10月14日，韩文强获邀参与在北京“水墨轩”茶舍，由新浪地产主办的“品鉴·四合院的有机更新”活动。 <br />
                    3月28日，韩文强获邀参与在河北地质大学举办的“筑巢论坛”石家庄站，做“关系的设计”主题讲座。
                </a>
            </li>
            <li>
                <h2>2015</h2>
                <a href="">
                    2015 12月12日，韩文强获邀在首都师范大学美术学院举办“关系的设计”主题讲座。 <br />
                    11月30日，韩文强获邀参加“CSU·央美直面名师”系列讲座，做“关系的设计”主题讲座。
                </a>
            </li>
        </ul>
    </div>
</div>