<link rel="stylesheet" href="/ContentWeb/css/about.css">
<div class="team">
    <div class="content">
        <div class="l">
            <h2>联络</h2>
        </div>
        <div class="r">
            <p style="line-height: 2;"><strong>地址：</strong>北京市/朝阳区/酒仙桥北路七九八艺术区/工美楼301室内</p>
            <p style="line-height: 2;"><strong>邮编：</strong>100102</p>
            <p style="line-height: 2;"><strong>电话：</strong>+86 10-5762027</p>
            <p style="line-height: 2;"><strong>传真：</strong>+86 10-57623027</p>
            <p style="margin-top: 1vw;line-height: 2;"><strong>项目咨询：</strong>archanstudio@163.com</p>
            <p style="line-height: 2;"><strong>媒体合作：</strong>archstudio@126.com</p>
            <p style="line-height: 2;"><strong>职位申请：</strong>job_arch</p>
        </div>
    </div>
</div>
<div class="about" style="margin-top: 2vw;">
    <div class="content">
        <div class="top">
            <img src="/ContentWeb/images/contact_map.jpg" alt="">
        </div>
    </div>
</div>
