<link rel="stylesheet" href="/ContentWeb/css/honor.css">
<div class="honor-banner">
    <p><img src="/ContentWeb/images/honor_top.jpg" alt=""></p>
    <div>
        <h2>标志性建筑设计奖（ICONIC AWARDS: Innovative Architecture）</h2>
        <p>2019.09.01</p>
    </div>
</div>
<div class="honor-list">
    <ul>
        <li>
            <a href="/honorDetail">
                <p><img src="/ContentWeb/images/product-top.jpg" alt=""></p>
                <div>
                    <h2>标志性建筑设计奖（ICONIC AWARDS: Innovative Architecture）</h2>
                    <p>2019.09.01</p>
                </div>
            </a>
        </li>
        <li>
            <a href="/honorDetail">
                <p><img src="/ContentWeb/images/product-top.jpg" alt=""></p>
                <div>
                    <h2>标志性建筑设计奖（ICONIC AWARDS: Innovative Architecture）</h2>
                    <p>2019.09.01</p>
                </div>
            </a>
        </li>
        <li>
            <a href="/honorDetail">
                <p><img src="/ContentWeb/images/product-top.jpg" alt=""></p>
                <div>
                    <h2>标志性建筑设计奖（ICONIC AWARDS: Innovative Architecture）</h2>
                    <p>2019.09.01</p>
                </div>
            </a>
        </li>
        <li>
            <a href="/honorDetail">
                <p><img src="/ContentWeb/images/product-top.jpg" alt=""></p>
                <div>
                    <h2>标志性建筑设计奖（ICONIC AWARDS: Innovative Architecture）</h2>
                    <p>2019.09.01</p>
                </div>
            </a>
        </li>
        <li>
            <a href="/honorDetail">
                <p><img src="/ContentWeb/images/product-top.jpg" alt=""></p>
                <div>
                    <h2>标志性建筑设计奖（ICONIC AWARDS: Innovative Architecture）</h2>
                    <p>2019.09.01</p>
                </div>
            </a>
        </li>
        <li>
            <a href="/honorDetail">
                <p><img src="/ContentWeb/images/product-top.jpg" alt=""></p>
                <div>
                    <h2>标志性建筑设计奖（ICONIC AWARDS: Innovative Architecture）</h2>
                    <p>2019.09.01</p>
                </div>
            </a>
        </li>
        <li>
            <a href="/honorDetail">
                <p><img src="/ContentWeb/images/product-top.jpg" alt=""></p>
                <div>
                    <h2>标志性建筑设计奖（ICONIC AWARDS: Innovative Architecture）</h2>
                    <p>2019.09.01</p>
                </div>
            </a>
        </li>
        <li>
            <a href="/honorDetail">
                <p><img src="/ContentWeb/images/product-top.jpg" alt=""></p>
                <div>
                    <h2>标志性建筑设计奖（ICONIC AWARDS: Innovative Architecture）</h2>
                    <p>2019.09.01</p>
                </div>
            </a>
        </li>
        <li>
            <a href="/honorDetail">
                <p><img src="/ContentWeb/images/product-top.jpg" alt=""></p>
                <div>
                    <h2>标志性建筑设计奖（ICONIC AWARDS: Innovative Architecture）</h2>
                    <p>2019.09.01</p>
                </div>
            </a>
        </li>
    </ul>
</div>