
<link rel="stylesheet" href="/ContentWeb/css/honor.css">
<div class="honor">
    <div class="top">
        <p><img src="/ContentWeb/images/honor_top.jpg" alt=""></p>
        <div>
            <h2>标志性建筑设计奖（ICONIC AWARDS: Innovative Architecture）</h2>
            <p>2019.09.01</p>
        </div>
    </div>
    <div class="text">
        <div class="content">
            <p style="font-size:0.9vw;">8月7日，由德国设计委员会发起的ICONIC AWARDS德国标志性设计大奖2019年获奖名单正式公布，goa大象设计四项作品获奖，并摘得建筑类最高荣誉“Innovation Architecture-Best
                of Best”，同时获得2020德国国家设计奖提名。 </p>
            <p style="margin-top:1.5vw; font-size:0.9vw;">标志性建筑设计奖（ICONIC AWARDS: Innovative
                Architecture）由德国设计委员会创办，是全球最受瞩目的设计和建筑奖项之一，旨在通过一项独立的建筑及设计赛事表彰跨学科互动的杰出范例，共设置建筑、室内、产品、传达及概念五大参赛类别，授予具有前瞻力、能不断为建筑行业带来灵感的作品和设计师；德国国家设计奖（German
                Design Awards）是德国设计行业内的最高奖项之一，又被称为“奖中之奖”, 只有屡获大奖的设计才能获邀提名，被誉为竞争最激烈的顶级奖项。</p>
        </div>
    </div>
    <div class="link">
        <h2>相关链接</h2>
        <ul>
            <li>
                <a href="/honorDetail">
                    <p><img src="/ContentWeb/images/product-top.jpg" alt=""></p>
                    <div>
                        <h2>标志性建筑设计奖（ICONIC AWARDS: Innovative Architecture）</h2>
                        <p>2019.09.01</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="/honorDetail">
                    <p><img src="/ContentWeb/images/product-top.jpg" alt=""></p>
                    <div>
                        <h2>标志性建筑设计奖（ICONIC AWARDS: Innovative Architecture）</h2>
                        <p>2019.09.01</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="/honorDetail">
                    <p><img src="/ContentWeb/images/product-top.jpg" alt=""></p>
                    <div>
                        <h2>标志性建筑设计奖（ICONIC AWARDS: Innovative Architecture）</h2>
                        <p>2019.09.01</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>