<link rel="stylesheet" href="/ContentWeb/css/about.css">
<div class="team" style="background: white;">
    <div class="content">
        <div class="l">
            <h2>韩文强</h2>
        </div>
        <div class="r">
            <p style="font-size: 1vw;">
                <strong>主持建筑师</strong><br /><br />
                韩文强<br />
                中央美术学院建筑学院副教授 <br />
                建筑营设计工作室（ARCHSTUDIO）创始人及主持建筑师<br /><br />

                出生于辽宁大连，2005年中央美院建筑学院硕士毕业并留校任教。设计研究主张以传统智慧观照现实环境，秉持「空间即媒介」的基本观点，运用「关系的设计」方法，随物赋形、为心造境，保持人、自然、历史、商业与空间环境的和谐平衡。<br /><br />

                主要作品包括水岸佛堂、曲廊院、有机农场、扭院儿等。所获荣誉包括2015年美国《建筑实录》全球十佳「设计先锋」，2017年中国香港Perspective 40 UNDER
                40建筑师、2015—2019年「AD100」中国最具影响力建筑设计精英。<br /><br />

                受邀参展：美国哈佛大学当代中国建筑展、「10×100」UED十年百名建筑师展、韩国光州设计双年展、第二届中国设计大展等。
            </p>
        </div>
    </div>
</div>
<div class="team" style="margin-top: 2vw;">
    <div class="content">
        <div class="r">
            <div style="font-size: 0.9vw; line-height: 2; ">
                媒体报道：美国《Architectural Record》、英国《Architectural Review》、西班牙《Arquitectura
                Viva》、荷兰《Frame》、新加坡《d+a》、中国香港《Perspective》、中国台湾《台湾建筑》、《时代建筑》等杂志媒体；Dezeen、Designboom、ArchDaily、Wallpaper、有方、gooood等网络媒体。
            </div>
        </div>
    </div>
</div>
<div class="team" style="background: white;">
    <div class="content">
        <div class="r">
            <img style="width: 100%;" src="/ContentWeb/images/hwq.png" alt="">
        </div>
    </div>
</div>