<link rel="stylesheet" href="/ContentWeb/css/index.css">
<script src="/ContentWeb/swiper/js/swiper.min.js"></script>
<link rel="stylesheet" href="/ContentWeb/swiper/css/swiper.min.css">
<div class="product">
    <div class="swiper-container" id="homeSwiper2">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="slide">
                    <a href="/productList">
                        <p><img src="/ContentWeb/images/home_banner.jpg" alt=""></p>
                        <div>
                            <h2>水岸佛堂</h2>
                            <p>整个项目选址在河北唐山古冶区南外环路以南的海子沿村附近，避开了城市的喧嚣。佛堂占地 500 平方米，正好建在一条河畔的树林下，这里沿着河面有一块小土丘，背后是广阔的田野，和几块零散的蔬菜大棚。倚赖这样的周边环境，设计团队也从建筑与自然的...</p>
                            <span>详情 >></span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slide">
                    <a href="/productList">
                        <p><img src="/ContentWeb/images/home_banner.jpg" alt=""></p>
                        <div>
                            <h2>水岸佛堂</h2>
                            <p>整个项目选址在河北唐山古冶区南外环路以南的海子沿村附近，避开了城市的喧嚣。佛堂占地 500 平方米，正好建在一条河畔的树林下，这里沿着河面有一块小土丘，背后是广阔的田野，和几块零散的蔬菜大棚。倚赖这样的周边环境，设计团队也从建筑与自然的...</p>
                            <span>详情 >></span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slide">
                    <a href="/productList">
                        <p><img src="/ContentWeb/images/home_banner.jpg" alt=""></p>
                        <div>
                            <h2>水岸佛堂</h2>
                            <p>整个项目选址在河北唐山古冶区南外环路以南的海子沿村附近，避开了城市的喧嚣。佛堂占地 500 平方米，正好建在一条河畔的树林下，这里沿着河面有一块小土丘，背后是广阔的田野，和几块零散的蔬菜大棚。倚赖这样的周边环境，设计团队也从建筑与自然的...</p>
                            <span>详情 >></span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slide">
                    <a href="/productList">
                        <p><img src="/ContentWeb/images/home_banner.jpg" alt=""></p>
                        <div>
                            <h2>水岸佛堂</h2>
                            <p>整个项目选址在河北唐山古冶区南外环路以南的海子沿村附近，避开了城市的喧嚣。佛堂占地 500 平方米，正好建在一条河畔的树林下，这里沿着河面有一块小土丘，背后是广阔的田野，和几块零散的蔬菜大棚。倚赖这样的周边环境，设计团队也从建筑与自然的...</p>
                            <span>详情 >></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        var mySwiper = new Swiper('#homeSwiper2', {
            loop: true, // 循环模式选项
            speed: 800,
            autoplay: {
                delay: 5000,
                stopOnLastSlide: false,
                disableOnInteraction: true,
            }
        })
    })
</script>