<link rel="stylesheet" href="/ContentWeb/css/about.css">
<div class="team">
    <div class="content">
        <div class="l">
            <h2>联络</h2>
        </div>
        <div class="r">
            <p style="line-height: 2;"><strong>地址：</strong>北京市/朝阳区/酒仙桥北路七九八艺术区/工美楼301室内</p>
            <p style="line-height: 2;"><strong>邮编：</strong>100102</p>
            <p style="line-height: 2;"><strong>电话：</strong>+86 10-5762027</p>
            <p style="line-height: 2;"><strong>传真：</strong>+86 10-57623027</p>
            <p style="margin-top: 1vw;line-height: 2;"><strong>项目咨询：</strong>archanstudio@163.com</p>
            <p style="line-height: 2;"><strong>媒体合作：</strong>archstudio@126.com</p>
            <p style="line-height: 2;"><strong>职位申请：</strong>job_arch</p>
        </div>
    </div>
</div>
<div class="about" style="margin-top: 2vw;">
    <div class="content">
        <div class="text">
            <div class="l">
                <h2>招聘</h2>
            </div>
            <div class="r">
                <h2 style="font-size: 1vw;">建筑师</h2>
                <p style="margin-top:1.5vw; font-size: 0.9vw; line-height: 2;">
                    1. 建筑学学士或以上学位，拥有3-5年全职工作经验； <br />
                    2. 对建筑怀有强烈创作欲望与实验精神，乐于探索与实践，能够在主持建筑师指导下高质量、高效率自主完成方案设计和扩初设计工作； <br />
                    3. 熟练掌握Autocad, Rhino, 3ds Max, Adobe Creative Suite (PS, ID, AI)等软件, 能够独立运用手工研究模型发展设计概念及方案设计；
                    <br />
                    4. 对建筑材料及结构具有浓厚的兴趣，并有能力将结构，材料，空间组织在一起； <br />
                    5. 热爱建筑行业，责任心强，有较强的团队合作精神和良好的沟通协调能力； <br />
                    6. 能够适应事务所的工作节奏和强度，具有较强的抗压能力，善于调整心态； <br />
                    7. 教育及工作经历中具有海外背景者（双语沟通流利）优先考虑。
                </p>
                <h2 style="margin-top:2vw; font-size: 1vw;">施工图设计师</h2>
                <p style="margin-top:1.5vw; font-size: 0.9vw; line-height: 2;">
                    1. 建筑学学士或以上学位，拥有3-5年全职工作经验； <br />
                    2. 对建筑怀有强烈创作欲望与实验精神，乐于探索与实践，能够在主持建筑师指导下高质量、高效率自主完成方案设计和扩初设计工作； <br />
                    3. 熟练掌握Autocad, Rhino, 3ds Max, Adobe Creative Suite (PS, ID, AI)等软件, 能够独立运用手工研究模型发展设计概念及方案设计；
                    <br />
                    4. 对建筑材料及结构具有浓厚的兴趣，并有能力将结构，材料，空间组织在一起； <br />
                    5. 热爱建筑行业，责任心强，有较强的团队合作精神和良好的沟通协调能力； <br />
                    6. 能够适应事务所的工作节奏和强度，具有较强的抗压能力，善于调整心态； <br />
                    7. 教育及工作经历中具有海外背景者（双语沟通流利）优先考虑。
                </p>
            </div>
        </div>
    </div>
</div>
<div class="team" style="margin-top: 2vw;background: #ccc;">
    <div class="content">
        <div class="r">
            <h2 style="font-size: 1vw; color: white;">格式： </h2>
            <div style="margin-top:1.5vw; font-size: 0.9vw; line-height: 2; color: white;">
                1.请将简历和作品集采用PDF附件形式（小于10MB），发送至邮箱：job_archstudio@163.com。任何压缩文件或下载超链接视为无效。 <br />
                2.请在邮件主题注明姓名和应聘职位。 <br />
                3.恕不接受直接来访。
            </div>
        </div>
    </div>
</div>
<div class="about" style="margin-top: 5vw;">
    <div class="content">
        <div class="top">
            <img src="/ContentWeb/images/contact_map.jpg" alt="">
        </div>
    </div>
</div>