<link rel="stylesheet" href="/ContentWeb/css/exhibition.css">
<link rel="stylesheet" type="text/css" href="/ContentWeb/css/jquery.jscrollpane.css" />
<script type="text/javascript" src="/ContentWeb/js/jquery.min.js"></script>
<script type="text/javascript" src="/ContentWeb/js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="/ContentWeb/js/jquery.jscrollpane.min.js"></script>
<div class="exhibition">
    <div class="content">
        <div class="l">
            <h2>时间</h2>
            <ul class="exhibition-date">
                <li class="on" data-date="2017">2017</li>
                <li data-date="2016">2016</li>
                <li data-date="2015">2015</li>
                <li data-date="2014">2014</li>
                <li data-date="2013">2013</li>
                <li data-date="2012">2012</li>
                <li data-date="2011">2011</li>
                <li data-date="2010">2010</li>
                <li data-date="2009">2009</li>
                <li data-date="2008">2008</li>
            </ul>
        </div>
        <div class="r">
            <ul class="contentDiv">
                <li>
                    <a href="">
                        <h2>2017</h2>
                        <div>
                            “水岸佛堂”和“扭院儿”获邀参加“合应自然——2017北京国际设计周主题展”，北京中华世纪坛，2017.10<br />
                            “水岸佛堂”和“扭院儿”获邀参加“2017良仓生活方式大赏”，北京三里屯太古里，<br />
                            2017.08 2017米兰设计周——万物展，意大利米兰大学，<br />
                            2017.03 “曲廊院”获邀参与“香港十年百名建筑师展”，香港中环，<br />
                            2017.02 “分叉的帐篷”获邀参与“油菜花田里的家——露营装置设计展”，贵州楼纳国际建筑师公社，
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <h2>2016</h2>
                        <div>
                            “曲廊院”获邀参与“走向批判的实用主义：当代中国建筑”展，美国哈佛GSD，<br />
                            2016.10 “曲廊院”获邀参与“形而上下”中国原创设计展，石家庄万营艺术空间，
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <h2>2015</h2>
                        <div>
                            “曲廊院”获邀参与“第二届中国设计大展”，深圳，<br />
                            2015.12 “荣宝斋咖啡书屋”获邀参与“第二届中国设计大展”，深圳，<br />
                            2015.12 “曲廊院”获邀参与“2015韩国光州设计双年展”，韩国光州，
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <h2>2014</h2>
                        <div>
                            系列作品“由内及外”获邀参与“地平线：开放的传统”2014中国国际创意展，北京 “天井住宅”获邀参与第三届中国环境艺术“青年设计师“作品展，长春
                            “新旧并置”获邀参与第三届中国环境艺术“青年设计师“作品展，长春<br />
                            “胡同白房子”获邀参与第三届中国环境艺术“青年设计师“作品展，长春
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <h2>2013</h2>
                        <div>
                            系列作品“由内及外”入选第二届成都艺术双年展，成都 <br />
                            系列作品“胡同改造”获邀参与“中央美术学院教师展”，北京
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <h2>2012</h2>
                        <div>
                            系列作品“由内及外”入选第二届成都艺术双年展，成都 <br />
                            系列作品“胡同改造”获邀参与“中央美术学院教师展”，北京
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <h2>2011</h2>
                        <div>
                            系列作品“由内及外”入选第二届成都艺术双年展，成都 <br />
                            系列作品“胡同改造”获邀参与“中央美术学院教师展”，北京
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <h2>2010</h2>
                        <div>
                            系列作品“由内及外”入选第二届成都艺术双年展，成都 <br />
                            系列作品“胡同改造”获邀参与“中央美术学院教师展”，北京
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <h2>2009</h2>
                        <div>
                            系列作品“由内及外”入选第二届成都艺术双年展，成都 <br />
                            系列作品“胡同改造”获邀参与“中央美术学院教师展”，北京
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <h2>2008</h2>
                        <div>
                            系列作品“由内及外”入选第二届成都艺术双年展，成都 <br />
                            系列作品“胡同改造”获邀参与“中央美术学院教师展”，北京
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- <div class="exhibition-scroll">
        <div class="t">
            <i class="iconfont icon-caret-up"></i>
        </div>
        <div class="c">
            <p></p>
        </div>
        <div class="b">
            <i class="iconfont icon-caret-down"></i>
        </div>
    </div> -->
</div>
<script>
    var jScrollBar, api;
    var jsons1 = {},
        jsons2 = {},
        arrs = [];
    var isscroll = true;
    $(function () {
        jScrollBar = $('.contentDiv').jScrollPane({
            showArrows: true,
            verticalDragMinHeight: 10,
            verticalDragMaxHeight: 10,
        });
        api = jScrollBar.data('jsp');
        $('.contentDiv li').each(function () {
            jsons1[$(this).find('h2').html()] = $(this).offset().top - $('.contentDiv').offset().top - 20;
        });
        $('.exhibition-date li').each(function () {
            arrs.push($(this).html());
            jsons2[$(this).html()] = $(this).offset().top - $('.exhibition-date').offset().top;
        });
        $('.exhibition-date li').click(function () {
            $(this).addClass('on').siblings().removeClass('on');
            isscroll = false;
            api.scrollToY(jsons1[$(this).html()], 300);
            setTimeout(function(){
                isscroll = true;  
            },300);
        });
        $('.contentDiv').scroll(function () {
            var _is = true;
            if (isscroll) {
                arrs.forEach((value, index) => {
                    if (jsons1[value] <= api.getContentPositionY() && index < arrs.length - 1 &&
                        jsons1[arrs[index + 1]] > api.getContentPositionY() && _is) {
                        $('.exhibition-date').scrollTop(jsons2[value]);
                        $('.exhibition-date li[data-date="'+value+'"]').addClass('on').siblings().removeClass('on');
                        _is = false;
                    } else if (jsons1[value] <= api.getContentPositionY() && index == arrs.length - 1 && _is) {
                        $('.exhibition-date').scrollTop(jsons2[value]);
                        $('.exhibition-date li[data-date="'+value+'"]').addClass('on').siblings().removeClass('on');
                        _is = false;
                    }
                })
            }
        });
    })
</script>