<link rel="stylesheet" href="/ContentWeb/css/productDetail.css">
<script src="/ContentWeb/swiper/js/swiper.min.js"></script>
<link rel="stylesheet" href="/ContentWeb/swiper/css/swiper.min.css">
<div class="detail">
    <div class="top">
        <img src="/ContentWeb/images/A/A5.jpg" alt="">
    </div>
    <div class="text">
        <div class="l">
            叠院儿
        </div>
        <div class="r">
            <p style="font-size: 1vw;">
                “叠院儿”隐藏于北京前门附近的一片传统商业街区之中，占地面积约500平米。原建筑是一座颇具民国特征的四合院商业用房。与民宅相比，这里的房屋较为高大。南侧沿街是一排拱形的门窗，北侧的房屋则建有两层。在本次改造之前，房屋结构均被整体翻建过，院内并没有门窗和墙面，裸露着粗犷的木结构梁柱。据说这里在民国时期曾是青楼，建国后又转变为面包坊，翻建之后就空置下来。建筑未来的使用被设定为兼有公共活动与居住的混合业态空间。因此，本次改造在提升建筑质量以及基础设施的同时，重在创造基于胡同环境背景之下的特定场景体验，以吸引日益多元消费需求的城市人群。
            </p>

            <p style="font-size: 1vw;">传统建筑的一个显著特点就是呈递进式的院落。在一座三进四合院当中，房屋的使用功能跟随每一进院而相应的产生变化，由外向内私密性逐步提高，人们由此产生
                “庭院深深”的印象。设计受到传统空间中“多重叠合院落”的启发，将原本的内合院改变为“三进院”，以此适应从公共到私密逐级过渡的功能使用模式，并利用院落的逐层过渡在喧闹的胡同街区之中营造出宁静、自然的诗意场景。“叠院儿”重新梳理了新与旧、内与外、人工与自然的关系。首先局部拆除了南侧房屋屋顶，在室内空间与街道之间退让出第一层庭院，然后在南北房屋之间新加入一座坡顶建筑，并以两层平行的庭院将新与旧相互分隔。三层庭院让所有的室内空间都能有竹林与阳光相伴。空间之间彼此分离又相互透叠，带有雾化图案的玻璃墙面犹如叠嶂一般，进一步强化了半透明感的空间效果，由此实现了由外至内不同空间场景和生活情境的叠合并置。
            </p>

            <p style="font-size: 1vw;">
                房屋的使用模式跟随着三层庭院，自然产生由开放向私密的过渡关系。南房布置了接待、餐厅、酒吧、厨房、办公、库房等，是一个举办公共聚会活动的地方。原建筑木质梁柱结构被尽量保留下来，由新置入的两个木盒子服务单元来划分出不同尺度的使用空间。透过第一层庭院，原建筑拱形门窗洞和朱漆大门变成了“影壁墙”，在竹林的映衬下勾勒出真实多彩的胡同生活剪影。中间的房屋被处理成一个弹性使用的多功能空间，既可以与前面餐厅合并共同使用，也可以独立作为展厅，或者与后面客房区合并作为休息区。这个新建的建筑体在形式上尽量考虑与两侧坡顶旧建筑在尺度、采光、距离上的协调关系。内部空间围绕一个线性的水景庭院展开，主要使用透明、半透明、反射性的材料和家具以弱化一个实体空间的物质存在感，营造有别于旧建筑的轻、透、飘的氛围，既映射又消隐于竹林庭院之中。北侧房屋是最为私密的客房区域。利用原建筑结构条件，一层空间被划分为四个房间。客房休息区与卫浴区利用材料的变化彼此分开，每间客房都拥有独立的竹林庭院，内外之间相互层叠掩映。二层则分为三间大小各异的客房。透过落地玻璃幕墙，视线掠过层叠的灰瓦屋顶和绿树蓝天，正是身居此处的最佳风景。所有客房均配置了人脸识别和智能控制系统，客人可以通过线上平台完成预约并扫码入住，让居住体验变得更加轻松和便捷。
            </p>
        </div>
    </div>
    <div class="structure">
        <div class="content">
            <div class="l">
                <p>项目名称：叠院儿</p>
                <p>项目位置：前门，北京</p>
                <p>建筑面积： 约530平米</p>
                <p>完工日期：2018年2月</p>
                <p>主要材料：镜面不锈钢、印刷玻璃膜、透光砖、橡木板</p>
                <p>设计公司：建筑营设计工作室(www.archstudio.cn)</p>
                <p>主创建筑师：韩文强</p>
                <p>设计团队：黄涛</p>
                <p>结构顾问：张富华</p>
                <p>水电设计：郑宝伟</p>
                <p>灯光顾问：董天华</p>
                <p>家具顾问：宋国超</p>
                <p>摄影师：CreatAR Images 骆俊才/ 金伟琦</p>
                <p>撰文：韩文强</p>
            </div>
            <div class="r">
                <ul>
                    <li onclick="slideGo(this,0)"><img src="/ContentWeb/images/A/A01.jpg" alt=""></li>
                    <li onclick="slideGo(this,1)"><img src="/ContentWeb/images/A/A02.jpg" alt=""></li>
                    <li onclick="slideGo(this,2)"><img src="/ContentWeb/images/A/A03.jpg" alt=""></li>
                    <li onclick="slideGo(this,4)"><img src="/ContentWeb/images/A/A05.jpg" alt=""></li>
                    <li onclick="slideGo(this,5)"><img src="/ContentWeb/images/A/A06.jpg" alt=""></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="list">
        <div class="content">
            <ul id="listContent">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <div id="listContentHtml" style="display:none;">
                <div onclick="slideGo2(this,0)"><img src="/ContentWeb/images/A/A2.jpg" alt=""></div>
                <div onclick="slideGo2(this,1)"><img src="/ContentWeb/images/A/A3.jpg" alt=""></div>
                <div onclick="slideGo2(this,2)"><img src="/ContentWeb/images/A/A4.jpg" alt=""></div>
                <div onclick="slideGo2(this,3)"><img src="/ContentWeb/images/A/A5.jpg" alt=""></div>
                <div onclick="slideGo2(this,4)"><img src="/ContentWeb/images/A/A6.jpg" alt=""></div>
                <div onclick="slideGo2(this,5)"><img src="/ContentWeb/images/A/A23.jpg" alt=""></div>
                <div onclick="slideGo2(this,6)"><img src="/ContentWeb/images/A/A8.jpg" alt=""></div>
                <div onclick="slideGo2(this,7)"><img src="/ContentWeb/images/A/A9.jpg" alt=""></div>
                <div onclick="slideGo2(this,8)"><img src="/ContentWeb/images/A/A10.jpg" alt=""></div>
                <div onclick="slideGo2(this,9)"><img src="/ContentWeb/images/A/A11.jpg" alt=""></div>
            </div>
        </div>
    </div>
</div>

<!-- 设计图轮播 -->
<div class="structure-banner">
    <div class="banner-main">
        <div class="close" onclick="closes()"><img src="/ContentWeb/images/icon_close.png" alt=""></div>
        <div class="swiper-container" id="structureSwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="/ContentWeb/images/A/A01.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/A/A02.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/A/A03.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/A/A05.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/A/A06.jpg" alt=""></div>
            </div>
        </div>
        <!-- 如果需要导航按钮 -->
        <div class="swiper-button-prev a"><img src="/ContentWeb/images/icon_l.png" alt=""></div>
        <div class="swiper-button-next b"><img src="/ContentWeb/images/icon_r.png" alt=""></div>
        <div class="down">
            <a href="/ContentWeb/images/A/A1.jpg" download id="down">
                <img src="/ContentWeb/images/icon_down.png">
            </a>
        </div>
    </div>
</div>
<!-- 产品图轮播 -->
<div class="list-banner">
    <div class="banner-main">
        <div class="close" onclick="closes2()"><img src="/ContentWeb/images/icon_close.png" alt=""></div>
        <div class="swiper-container" id="listSwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="/ContentWeb/images/A/A2.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/A/A3.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/A/A4.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/A/A5.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/A/A6.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/A/A23.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/A/A8.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/A/A9.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/A/A10.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/A/A11.jpg" alt=""></div>
            </div>
        </div>
        <!-- 如果需要导航按钮 -->
        <div class="swiper-button-prev c"><img src="/ContentWeb/images/icon_l.png" alt=""></div>
        <div class="swiper-button-next d"><img src="/ContentWeb/images/icon_r.png" alt=""></div>
        <div class="down">
            <a href="/ContentWeb/images/A.jpg" download id="down2">
                <img src="/ContentWeb/images/icon_down.png">
            </a>
        </div>
    </div>
</div>

<script>
    var structureSwiper, listSwiper;
    $(function () {
        $('.detail .top img').css({
            'transform': 'scale(1)'
        });
        structureSwiper = new Swiper('#structureSwiper', {
            loop: true, // 循环模式选项
            speed: 800,
            // 如果需要前进后退按钮
            navigation: {
                nextEl: '.swiper-button-next.b',
                prevEl: '.swiper-button-prev.a',
            },
            on: {
                slideChangeTransitionStart: function () {
                    var _href = $('.structure .content .r ul li').eq(this.activeIndex).find('img')
                        .attr('src');
                    $('#down').attr('href', _href);
                }
            },
        });
        listSwiper = new Swiper('#listSwiper', {
            loop: true, // 循环模式选项
            speed: 800,
            // 如果需要前进后退按钮
            navigation: {
                nextEl: '.swiper-button-next.d',
                prevEl: '.swiper-button-prev.c',
            },
            on: {
                slideChangeTransitionStart: function () {
                    var _href = $('#listContentHtml div').eq(this.activeIndex).find('img')
                        .attr('src');
                    $('#down2').attr('href', _href);
                }
            },
        });
    });
    var _i = 0;
    $('#listContentHtml div').each(function (value, index) {
        $('#listContent li').eq(_i).append($(this));
        //最后一个
        if ($(window).width() > 800) {
            if ((_i + 1) % 5 == 0) {
                _i = 0;
            } else {
                _i++;
            }
        } else {
            if ((_i + 1) % 2 == 0) {
                _i = 0;
            } else {
                _i++;
            }
        }

    })

    function slideGo(obj, index) {
        $('.structure-banner').css({
            'z-index': '999',
            'opacity': '1'
        });
        structureSwiper.slideToLoop(index, 0, false);
        $('#down').attr('href', $(obj).find('img').attr('src'));
    }

    function slideGo2(obj, index) {
        $('.list-banner').css({
            'z-index': '999',
            'opacity': '1'
        });
        listSwiper.slideToLoop(index, 0, false);
        $('#down2').attr('href', $(obj).find('img').attr('src'));
    }

    function closes() {
        $('.structure-banner').css({
            'z-index': '-1',
            'opacity': '0'
        });
    }

    function closes2() {
        $('.list-banner').css({
            'z-index': '-1',
            'opacity': '0'
        });
    }
</script>