<link rel="stylesheet" href="/ContentWeb/css/productDetail.css">
<script src="/ContentWeb/swiper/js/swiper.min.js"></script>
<link rel="stylesheet" href="/ContentWeb/swiper/css/swiper.min.css">
<div class="detail">
    <div class="top">
        <img src="ContentWeb/images/D/D2.jpg" alt="">
    </div>
    <div class="text">
        <div class="l">
            扭院儿
        </div>
        <div class="r">
            <p style="line-height: 2em;">
                <span style="color: rgb(0, 0, 0); font-family: 微软雅黑; font-size: 16px;"><span
                        style="font-family: 微软雅黑;">项目位于</span><span style="font-family: 微软雅黑;">北京大栅栏地区</span><span
                        style="font-family: 微软雅黑;">的排子胡同，原本是一座</span><span style="font-family: 微软雅黑;">单进四合院</span><span
                        style="font-family: 微软雅黑;">。改造的目的是升级</span><span style="font-family: 微软雅黑;">现代生活所需的</span><span
                        style="font-family: 微软雅黑;">必要基础设施，将这处曾经</span><span
                        style="font-family: 微软雅黑;">以居住功能为主</span><span style="font-family: 微软雅黑;">的传统小院儿转变为</span><span
                        style="font-family: 微软雅黑;">北京内城</span><span
                        style="font-family: 微软雅黑;">一处有吸引力的公共活动场所。</span></span>
            </p>
            <p style="line-height: 2em;">
                <span style="font-family: 微软雅黑; font-size: 16px;">&nbsp;</span>
            </p>
            <p style="text-align: justify; line-height: 2em; -ms-text-justify: inter-ideograph;">
                <span style="color: rgb(0, 0, 0); font-family: 微软雅黑; font-size: 16px;">1、规整格局之下的扭动。</span>
            </p>
            <p style="text-align: justify; line-height: 2em; -ms-text-justify: inter-ideograph;">
                <span style="color: rgb(0, 0, 0); font-family: 微软雅黑; font-size: 16px;"><span
                        style="font-family: 微软雅黑;">改变原本四合院的庄重、刻板的印象，营造开放、活跃的院落</span><span
                        style="font-family: 微软雅黑;">生活氛围</span><span
                        style="font-family: 微软雅黑;">。基于已有院落格局，利用起伏的地面连接室内外高差并延伸至房屋内部扭曲成为墙和顶，让内外空间产生新的动态关联。隐于曲墙之内的是厨房、卫生间、库房等必要的服务性空间；显于曲墙之外的会客、餐饮空间与庭院连接成为一个整体。室内外地面均采用灰砖铺就，</span><span
                        style="font-family: 微软雅黑;">院中原有的一颗山楂树也被保留在扭动的景观之中</span><span
                        style="font-family: 微软雅黑;">。</span></span>
            </p>
            <p style="text-align: justify; line-height: 2em; -ms-text-justify: inter-ideograph;">
                <span style="color: rgb(0, 0, 0); font-family: 微软雅黑; font-size: 16px;">2、使用模式之间的扭转。</span>
            </p>
            <p style="text-align: justify; line-height: 2em; -ms-text-justify: inter-ideograph;">
                <span style="color: rgb(0, 0, 0); font-family: 微软雅黑; font-size: 16px;"><span
                        style="font-family: 微软雅黑;">小院儿的使用主要作为城市公共活动空间，同时也保留了居住的可能性。四间房屋可被随时租用来进行休闲、会谈、聚会等公共活动；同时也可以做为带有三间卧室的家庭旅舍。</span><span
                        style="font-family: 微软雅黑;">整合式家具用来满足空间场景的这种弹性切换</span><span
                        style="font-family: 微软雅黑;">。</span><span style="font-family: 微软雅黑;">东西厢房在原有木框架下</span><span
                        style="font-family: 微软雅黑;">嵌入</span><span style="font-family: 微软雅黑;">了家具盒子</span><span
                        style="font-family: 微软雅黑;">。木质地台暗藏</span><span style="font-family: 微软雅黑;">升降桌面</span><span
                        style="font-family: 微软雅黑;">，既可作为茶室空间，也可以作为卧室来使用。北侧正房也设有</span><span
                        style="font-family: 微软雅黑;">翻床家具墙</span><span style="font-family: 微软雅黑;">体和</span><span
                        style="font-family: 微软雅黑;">分隔</span><span
                        style="font-family: 微软雅黑;">软帘，同样可以满足这种多用需求。</span></span>
            </p>
            <p style="text-align: justify; line-height: 2em; -ms-text-justify: inter-ideograph;">
                <span style="color: rgb(0, 0, 0); font-family: 微软雅黑; font-size: 16px;">&nbsp;<span
                        style="font-family: 微软雅黑;">院子是</span>“四合院”这种建筑类型<span
                        style="font-family: 微软雅黑;">生活乐趣</span><span
                        style="font-family: 微软雅黑;">的核心所在。而</span>“扭院儿”就是在维持已有房屋结构不变的条件下，通过局部关系的微调改变院落空间的气质并满足多样的使用，让传统小院儿能够与时俱进的融入到当代城市生活之中。</span>
            </p>
            <p style="line-height: 2em;"></p>
        </div>
    </div>
    <div class="structure">
        <div class="content">
            <div class="l">
                <p style="text-align: justify; -ms-text-justify: inter-ideograph;">
                    <span style="color: rgb(0, 0, 0); font-family: 微软雅黑; font-size: 16px;"><span
                            style="font-family: 微软雅黑;">项目地址：排子胡同，北京</span></span>
                </p>
                <p style="text-align: justify; -ms-text-justify: inter-ideograph;">
                    <span style="color: rgb(0, 0, 0); font-family: 微软雅黑; font-size: 16px;"><span
                            style="font-family: 微软雅黑;">项目类型：民居改造</span></span>
                </p>
                <p style="text-align: justify; -ms-text-justify: inter-ideograph;">
                    <span style="color: rgb(0, 0, 0); font-family: 微软雅黑; font-size: 16px;"><span
                            style="font-family: 微软雅黑;">用地面积：</span>225.4平米</span>
                </p>
                <p style="text-align: justify; -ms-text-justify: inter-ideograph;">
                    <span style="color: rgb(0, 0, 0); font-family: 微软雅黑; font-size: 16px;"><span
                            style="font-family: 微软雅黑;">建筑面积：</span>161.5平米</span>
                </p>
                <p style="text-align: justify; -ms-text-justify: inter-ideograph;">
                    <span style="color: rgb(0, 0, 0); font-family: 微软雅黑; font-size: 16px;"><span
                            style="font-family: 微软雅黑;">主要材料：</span><span style="font-family: 微软雅黑;">灰砖</span><span
                            style="font-family: 微软雅黑;">、橡木板</span></span>
                </p>
                <p style="text-align: justify; -ms-text-justify: inter-ideograph;">
                    <span style="color: rgb(0, 0, 0); font-family: 微软雅黑; font-size: 16px;"><span
                            style="font-family: 微软雅黑;">设计时间：</span>2016.06-2016.09</span>
                </p>
                <p style="text-align: justify; -ms-text-justify: inter-ideograph;">
                    <span style="color: rgb(0, 0, 0); font-family: 微软雅黑; font-size: 16px;"><span
                            style="font-family: 微软雅黑;">施工时间：</span>2016.10-2017.05</span>
                </p>
                <p style="text-align: justify; -ms-text-justify: inter-ideograph;">
                    <span style="color: rgb(0, 0, 0); font-family: 微软雅黑; font-size: 16px;"><span
                            style="font-family: 微软雅黑;">设计公司：建筑营设计工作室（</span></span><span
                        style="color: rgb(0, 0, 0); font-family: 微软雅黑; font-size: 16px;">www.archstudio.cn</span><span
                        style="color: rgb(0, 0, 0); font-family: 微软雅黑; font-size: 16px;"><span
                            style="font-family: 微软雅黑;">）</span></span>
                </p>
                <p style="text-align: justify; -ms-text-justify: inter-ideograph;">
                    <span style="color: rgb(0, 0, 0); font-family: 微软雅黑; font-size: 16px;"><span
                            style="font-family: 微软雅黑;">主创建筑</span></span><span
                        style="color: rgb(0, 0, 0); font-family: 微软雅黑; font-size: 16px;"><span
                            style="font-family: 微软雅黑;">师：韩文强</span></span>
                </p>
                <p style="text-align: justify; -ms-text-justify: inter-ideograph;">
                    <span style="color: rgb(0, 0, 0); font-family: 微软雅黑; font-size: 16px;"><span
                            style="font-family: 微软雅黑;">设计团队：</span></span><span
                        style="color: rgb(0, 0, 0); font-family: 微软雅黑; font-size: 16px;"><span
                            style="font-family: 微软雅黑;">黄涛</span></span>
                </p>
                <p style="text-align: justify; -ms-text-justify: inter-ideograph;">
                    <span style="color: rgb(0, 0, 0); font-family: 微软雅黑; font-size: 16px;"><span
                            style="font-family: 微软雅黑;">家具配饰：宋国超</span></span>
                </p>
                <p style="text-align: justify; -ms-text-justify: inter-ideograph;">
                    <span style="color: rgb(0, 0, 0); font-family: 微软雅黑; font-size: 16px;"><span
                            style="font-family: 微软雅黑;">摄影师：王宁、金伟</span><span style="font-family: 微软雅黑;">琦</span></span>
                </p>
                <p>
                    <span style="color: rgb(0, 0, 0); font-family: 微软雅黑; font-size: 16px;"><span
                            style="font-family: 微软雅黑;">撰文：韩文强</span></span>
                </p>
                <p></p>
            </div>
            <div class="r">
                <ul>
                    <li onclick="slideGo(this,0)"><img src="/ContentWeb/images/D/DD1.jpg" alt=""></li>
                    <li onclick="slideGo(this,1)"><img src="/ContentWeb/images/D/DD2.jpg" alt=""></li>
                    <li onclick="slideGo(this,2)"><img src="/ContentWeb/images/D/DD3.jpg" alt=""></li>
                    <li onclick="slideGo(this,3)"><img src="/ContentWeb/images/D/DD4.jpg" alt=""></li>
                    <li onclick="slideGo(this,4)"><img src="/ContentWeb/images/D/DD5.jpg" alt=""></li>
                    <li onclick="slideGo(this,5)"><img src="/ContentWeb/images/D/DD6.jpg" alt=""></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="list">
        <div class="content">
            <ul id="listContent">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <div id="listContentHtml" style="display:none;">
                <div onclick="slideGo2(this,0)"><img src="/ContentWeb/images/D/D2.jpg" alt=""></div>
                <div onclick="slideGo2(this,1)"><img src="/ContentWeb/images/D/D3.jpg" alt=""></div>
                <div onclick="slideGo2(this,2)"><img src="/ContentWeb/images/D/D4.jpg" alt=""></div>
                <div onclick="slideGo2(this,3)"><img src="/ContentWeb/images/D/D5.jpg" alt=""></div>
                <div onclick="slideGo2(this,4)"><img src="/ContentWeb/images/D/D6.jpg" alt=""></div>
                <div onclick="slideGo2(this,5)"><img src="/ContentWeb/images/D/D7.jpg" alt=""></div>
                <div onclick="slideGo2(this,6)"><img src="/ContentWeb/images/D/D8.jpg" alt=""></div>
                <div onclick="slideGo2(this,7)"><img src="/ContentWeb/images/D/D9.jpg" alt=""></div>
                <div onclick="slideGo2(this,8)"><img src="/ContentWeb/images/D/D10.jpg" alt=""></div>
                <div onclick="slideGo2(this,9)"><img src="/ContentWeb/images/D/D11.jpg" alt=""></div>
            </div>
        </div>
    </div>
</div>

<!-- 设计图轮播 -->
<div class="structure-banner">
    <div class="banner-main">
        <div class="close" onclick="closes()"><img src="/ContentWeb/images/icon_close.png" alt=""></div>
        <div class="swiper-container" id="structureSwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="/ContentWeb/images/D/DD1.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/D/DD2.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/D/DD3.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/D/DD4.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/D/DD5.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/D/DD6.jpg" alt=""></div>
            </div>
        </div>
        <!-- 如果需要导航按钮 -->
        <div class="swiper-button-prev a"><img src="/ContentWeb/images/icon_l.png" alt=""></div>
        <div class="swiper-button-next b"><img src="/ContentWeb/images/icon_r.png" alt=""></div>
        <div class="down">
            <a href="/ContentWeb/images/D/D1.jpg" download id="down">
                <img src="/ContentWeb/images/icon_down.png">
            </a>
        </div>
    </div>
</div>
<!-- 产品图轮播 -->
<div class="list-banner">
    <div class="banner-main">
        <div class="close" onclick="closes2()"><img src="/ContentWeb/images/icon_close.png" alt=""></div>
        <div class="swiper-container" id="listSwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="/ContentWeb/images/D/D2.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/D/D3.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/D/D4.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/D/D5.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/D/D6.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/D/D7.jpg" alt=""></div>
            </div>
        </div>
        <!-- 如果需要导航按钮 -->
        <div class="swiper-button-prev c"><img src="/ContentWeb/images/icon_l.png" alt=""></div>
        <div class="swiper-button-next d"><img src="/ContentWeb/images/icon_r.png" alt=""></div>
        <div class="down">
            <a href="/ContentWeb/images/A.jpg" download id="down2">
                <img src="/ContentWeb/images/icon_down.png">
            </a>
        </div>
    </div>
</div>

<script>
    var structureSwiper, listSwiper;
    $(function () {
        $('.detail .top img').css({
            'transform': 'scale(1)'
        });
        structureSwiper = new Swiper('#structureSwiper', {
            loop: true, // 循环模式选项
            speed: 800,
            // 如果需要前进后退按钮
            navigation: {
                nextEl: '.swiper-button-next.b',
                prevEl: '.swiper-button-prev.a',
            },
            on: {
                slideChangeTransitionStart: function () {
                    var _href = $('.structure .content .r ul li').eq(this.activeIndex).find('img')
                        .attr('src');
                    $('#down').attr('href', _href);
                }
            },
        });
        listSwiper = new Swiper('#listSwiper', {
            loop: true, // 循环模式选项
            speed: 800,
            // 如果需要前进后退按钮
            navigation: {
                nextEl: '.swiper-button-next.d',
                prevEl: '.swiper-button-prev.c',
            },
            on: {
                slideChangeTransitionStart: function () {
                    var _href = $('#listContentHtml div').eq(this.activeIndex).find('img')
                        .attr('src');
                    $('#down2').attr('href', _href);
                }
            },
        });
    });
    var _i = 0;
    $('#listContentHtml div').each(function (value, index) {
        $('#listContent li').eq(_i).append($(this));
        //最后一个
        if ((_i + 1) % 5 == 0) {
            _i=0;
        }else{
            _i++;
        }
    })
    
    function slideGo(obj, index) {
        $('.structure-banner').css({
            'z-index': '999',
            'opacity': '1'
        });
        structureSwiper.slideToLoop(index, 0, false);
        $('#down').attr('href', $(obj).find('img').attr('src'));
    }

    function slideGo2(obj, index) {
        $('.list-banner').css({
            'z-index': '999',
            'opacity': '1'
        });
        listSwiper.slideToLoop(index, 0, false);
        $('#down2').attr('href', $(obj).find('img').attr('src'));
    }

    function closes() {
        $('.structure-banner').css({
            'z-index': '-1',
            'opacity': '0'
        });
    }

    function closes2() {
        $('.list-banner').css({
            'z-index': '-1',
            'opacity': '0'
        });
    }
</script>