<link rel="stylesheet" href="/ContentWeb/css/productDetail.css">
<script src="/ContentWeb/swiper/js/swiper.min.js"></script>
<link rel="stylesheet" href="/ContentWeb/swiper/css/swiper.min.css">
<div class="detail">
    <div class="top">
        <img src="/ContentWeb/images/product-top.jpg" alt="">
    </div>
    <div class="text">
        <div class="l">
            叠院儿
        </div>
        <div class="r">
            <p style="font-size: 1vw;">建筑设计(Architectural Design
                )是指建筑物在建造之前，设计者按照建设任务，把施工过程和使用过程中所存在的或可能发生的问题，事先作好通盘的设想，拟定好解决这些问题的办法、方案，用图纸和文件表达出来。作为备料、施工组织工作和各工种在制作、建造工作中互相配合协作的共同依据。便于整个工程得以在预定的投资限额范围内，按照周密考虑的预定方案，统一步调，顺利进行
                。并使建成的建筑物充分满足使用者和社会所期望的各种要求及用途。</p>
            <p style="font-size: 1vw; margin-top: 1vw;">建筑设计(Architectural Design
                )是指建筑物在建造之前，设计者按照建设任务，把施工过程和使用过程中所存在的或可能发生的问题，事先作好通盘的设想，拟定好解决这些问题的办法、方案，用图纸和文件表达出来。作为备料、施工组织工作和各工种在制作、建造工作中互相配合协作的共同依据。便于整个工程得以在预定的投资限额范围内，按照周密考虑的预定方案，统一步调，顺利进行
                。并使建成的建筑物充分满足使用者和社会所期望的各种要求及用途。建筑设计(Architectural Design
                )是指建筑物在建造之前，设计者按照建设任务，把施工过程和使用过程中所存在的或可能发生的问题，事先作好通盘的设想，拟定好解决这些问题的办法、方案，用图纸和文件表达出来。作为备料、施工组织工作和各工种在制作、建造工作中互相配合协作的共同依据。便于整个工程得以在预定的投资限额范围内，按照周密考虑的预定方案，统一步调，顺利进行
                。并使建成的建筑物充分满足使用者和社会所期望的各种要求及用途。</p>
            <p style="font-size: 1vw; margin-top: 1vw;">建筑设计(Architectural Design
                )是指建筑物在建造之前，设计者按照建设任务，把施工过程和使用过程中所存在的或可能发生的问题，事先作好通盘的设想，拟定好解决这些问题的办法、方案，用图纸和文件表达出来。作为备料、施工组织工作和各工种在制作、建造工作中互相配合协作的共同依据。便于整个工程得以在预定的投资限额范围内，按照周密考虑的预定方案，统一步调，顺利进行
                。并使建成的建筑物充分满足使用者和社会所期望的各种要求及用途。建筑设计(Architectural Design
                )是指建筑物在建造之前，设计者按照建设任务，把施工过程和使用过程中所存在的或可能发生的问题，事先作好通盘的设想，拟定好解决这些问题的办法、方案，用图纸和文件表达出来。作为备料、施工组织工作和各工种在制作、建造工作中互相配合协作的共同依据。便于整个工程得以在预定的投资限额范围内，按照周密考虑的预定方案，统一步调，顺利进行
                。并使建成的建筑物充分满足使用者和社会所期望的各种要求及用途。</p>
        </div>
    </div>
    <div class="structure">
        <div class="content">
            <div class="l">
                <p>项目名称：叠院二</p>
                <p>项目位置：前门，北京</p>
                <p>建筑面积：约530平米</p>
                <p>完工日期：2018年2月</p>
                <p>主要材料：镜面不锈钢、印刷玻璃膜、透光砖、橡木板</p>
                <p>设计师：韩文强</p>
                <p>结构顾问：张富华</p>
                <p>水电设计：郑保伟</p>
                <p>灯光顾问：董天华</p>
                <p>家具顾问：宋国超</p>
                <p>摄影师：张三</p>
                <p>撰文：韩文强</p>
            </div>
            <div class="r">
                <ul>
                    <li onclick="slideGo(this,0)"><img src="/ContentWeb/images/structure1.jpg" alt=""></li>
                    <li onclick="slideGo(this,1)"><img src="/ContentWeb/images/structure2.jpg" alt=""></li>
                    <li onclick="slideGo(this,2)"><img src="/ContentWeb/images/structure3.jpg" alt=""></li>
                    <li onclick="slideGo(this,3)"><img src="/ContentWeb/images/structure1.jpg" alt=""></li>
                    <li onclick="slideGo(this,4)"><img src="/ContentWeb/images/structure2.jpg" alt=""></li>
                    <li onclick="slideGo(this,5)"><img src="/ContentWeb/images/structure3.jpg" alt=""></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="list">
        <div class="content">
            <ul id="listContent">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <div id="listContentHtml" style="display:none;">
                <div onclick="slideGo2(this,0)"><img src="/ContentWeb/images/A/A2.jpg" alt=""></div>
                <div onclick="slideGo2(this,1)"><img src="/ContentWeb/images/A/A3.jpg" alt=""></div>
                <div onclick="slideGo2(this,2)"><img src="/ContentWeb/images/A/A4.jpg" alt=""></div>
                <div onclick="slideGo2(this,3)"><img src="/ContentWeb/images/A/A5.jpg" alt=""></div>
                <div onclick="slideGo2(this,4)"><img src="/ContentWeb/images/A/A6.jpg" alt=""></div>
                <div onclick="slideGo2(this,5)"><img src="/ContentWeb/images/A/A23.jpg" alt=""></div>
                <div onclick="slideGo2(this,6)"><img src="/ContentWeb/images/A/A8.jpg" alt=""></div>
                <div onclick="slideGo2(this,7)"><img src="/ContentWeb/images/A/A9.jpg" alt=""></div>
                <div onclick="slideGo2(this,8)"><img src="/ContentWeb/images/A/A10.jpg" alt=""></div>
                <div onclick="slideGo2(this,9)"><img src="/ContentWeb/images/A/A11.jpg" alt=""></div>
            </div>
        </div>
    </div>
</div>

<!-- 设计图轮播 -->
<div class="structure-banner">
    <div class="banner-main">
        <div class="close" onclick="closes()"><img src="/ContentWeb/images/icon_close.png" alt=""></div>
        <div class="swiper-container" id="structureSwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="/ContentWeb/images/structure1.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/structure2.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/structure3.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/structure1.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/structure2.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/structure3.jpg" alt=""></div>
            </div>
        </div>
        <!-- 如果需要导航按钮 -->
        <div class="swiper-button-prev a"><img src="/ContentWeb/images/icon_l.png" alt=""></div>
        <div class="swiper-button-next b"><img src="/ContentWeb/images/icon_r.png" alt=""></div>
        <div class="down">
            <a href="/ContentWeb/images/structure1.jpg" download id="down">
                <img src="/ContentWeb/images/icon_down.png">
            </a>
        </div>
    </div>
</div>
<!-- 产品图轮播 -->
<div class="list-banner">
    <div class="banner-main">
        <div class="close" onclick="closes2()"><img src="/ContentWeb/images/icon_close.png" alt=""></div>
        <div class="swiper-container" id="listSwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="/ContentWeb/images/product-list.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/product-list.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/product-list.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/product-list.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/product-list.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/product-list.jpg" alt=""></div>
            </div>
        </div>
        <!-- 如果需要导航按钮 -->
        <div class="swiper-button-prev c"><img src="/ContentWeb/images/icon_l.png" alt=""></div>
        <div class="swiper-button-next d"><img src="/ContentWeb/images/icon_r.png" alt=""></div>
        <div class="down">
            <a href="/ContentWeb/images/product-list.jpg" download id="down2">
                <img src="/ContentWeb/images/icon_down.png">
            </a>
        </div>
    </div>
</div>

<script>
    var structureSwiper,listSwiper;
    $(function () {
        $('.detail .top img').css({
            'transform': 'scale(1)'
        });
        structureSwiper = new Swiper('#structureSwiper', {
            loop: true, // 循环模式选项
            speed: 800,
            // 如果需要前进后退按钮
            navigation: {
                nextEl: '.swiper-button-next.b',
                prevEl: '.swiper-button-prev.a',
            },
            on: {
                slideChangeTransitionStart: function () {
                    var _href = $('.structure .content .r ul li').eq(this.activeIndex).find('img')
                        .attr('src');
                    $('#down').attr('href', _href);
                }
            },
        });
        listSwiper = new Swiper('#listSwiper', {
            loop: true, // 循环模式选项
            speed: 800,
            // 如果需要前进后退按钮
            navigation: {
                nextEl: '.swiper-button-next.d',
                prevEl: '.swiper-button-prev.c',
            },
            on: {
                slideChangeTransitionStart: function () {
                    var _href = $('#listContentHtml div').eq(this.activeIndex).find('img')
                        .attr('src');
                    $('#down2').attr('href', _href);
                }
            },
        });
    });
    var _i = 0;
    $('#listContentHtml div').each(function (value, index) {
        $('#listContent li').eq(_i).append($(this));
        //最后一个
        if ((_i + 1) % 5 == 0) {
            _i=0;
        }else{
            _i++;
        }
    })
    
    function slideGo(obj, index) {
        $('.structure-banner').css({
            'z-index': '999',
            'opacity': '1'
        });
        structureSwiper.slideToLoop(index, 0, false);
        $('#down').attr('href', $(obj).find('img').attr('src'));
    }
    function slideGo2(obj, index) {
        $('.list-banner').css({
            'z-index': '999',
            'opacity': '1'
        });
        listSwiper.slideToLoop(index, 0, false);
        $('#down2').attr('href', $(obj).find('img').attr('src'));
    }
    function closes() {
        $('.structure-banner').css({
            'z-index': '-1',
            'opacity': '0'
        });
    }
    function closes2() {
        $('.list-banner').css({
            'z-index': '-1',
            'opacity': '0'
        });
    }
</script>