<link rel="stylesheet" href="/ContentWeb/css/productDetail.css">
<script src="/ContentWeb/swiper/js/swiper.min.js"></script>
<link rel="stylesheet" href="/ContentWeb/swiper/css/swiper.min.css">
<div class="detail">
    <div class="top">
        <img src="/ContentWeb/images/B/B5.jpg" alt="">
    </div>
    <div class="text">
        <div class="l">
            鼎石物流办公楼
        </div>
        <div class="r">
            <p style="font-size: 1vw;text-indent: 2em;">
                该项目位于市郊一处工业厂房区域之中。园区场地空旷平整，北侧比邻市政道路，南侧是城市尚未开发的空地。办公楼被规划于园区的中部，东西两侧分布着由松林、草坪、步道组成的庭院，南侧留下一片宽阔的前广场以及停车场。
            </p>

            <p style="font-size: 1vw;text-indent: 2em;">
                办公楼东西长约85米，宽约50米，占地面积约8000平米，水平铺展开于场地之中。在相对宽松的用地条件下，设计充分围绕着院落关系组织建筑空间布局，结合功能需求和流线路径产生内外之间多样的场景，营造阳光、绿色、充满活力的工作环境。
            </p>

            <p style="font-size: 1vw;text-indent: 2em;">1、水平性空间</p>
            <p style="font-size: 1vw;text-indent: 2em;">
                建筑的上下两层会呈现完全不同的空间印象：首层对外封闭内向，二层则开敞外向，从而强调了建筑整体的水平性特征。建筑的外部形象产生类似于中国传统建筑的意向——漂浮的屋顶与厚重的台基，两者之间是自由透明的空间。首层为加高的“台基”部分。两层庭院将“台基”切分为平行的南、中、北三条功能体块，南侧功能块之内也包含着若干小庭院。保证首层所有房间都与庭院相邻，具有良好的采光和多样景观。“台基”之上二层由玻璃幕墙灵活地划分出多尺度的办公和公共空间，使得内部活动可自由的拓展至室外平台。六处连桥水平串联三条功能空间，创造简洁有效的流线路径并进一步划分出几处内向庭院。
            </p>

            <p style="font-size: 1vw;text-indent: 2em;">2、光影的庭园</p>
            <p style="font-size: 1vw;text-indent: 2em;">
                一片面积约4000平米的平屋顶+遮阳格栅覆盖了整个建筑场地。屋顶遮阳格栅设计意象来自于周边农田景观的线性肌理，并结合方格网结构与平直楼板产生“柔化”的效果。遮阳格栅会产生由建筑中心向两边产生由密到疏的渐变排列，每一条格栅本身也存在着弧形的宽度渐变，同时铝制格栅表面穿孔以弱化实体感，由此将钢结构屋面与遮阳系统结合为一个整体的大屋顶。半透明感的屋顶宛如阳光下一片巨大的灯罩，其下的建筑和庭院自然演变为光影的森林。空间跟随着一天之中阳光的变化，光影的韵律交织叠合，与人的活动一起共同演绎生动的自然场景。
            </p>

            <p style="font-size: 1vw;text-indent: 2em;">3、复合的场所</p>
            <p style="font-size: 1vw;text-indent: 2em;">
                围绕办公建筑的基本特征，结合内外场景衍生出多样复合的工作生活场所。屋檐之下两层通高的入口接待厅正对着前广场，背后依托层层展开的庭院与树木，向用户与访客表现出鲜明的第一印象。建筑首层设置了多种类型的办公空间，包括面向庭院的中、小型办公室、开放办公区、会议室，可容纳300人的多功能厅以及财务室、结算室等。各部门办公区域结合平面进行分区布局，避免相互干扰。在人流路径的结合部设置一些休闲空间，比如面向树院的咖啡厅等，让人们共享惬意的社交、休憩时光。三处室内楼梯和两处室外楼梯连接上下两层，兼顾工作流线的效率与舒适。二层的空间布局更为自由灵活，包括若干大办公室、大会议室、多媒体室以及图书阅览区、健身房、员工餐厅等。大屋顶之下尽量透明的墙面让所有房间均与露台和屋顶花园紧密相邻，光影之下的室内外环境融为一体。
            </p>

            <p style="font-size: 1vw;text-indent: 2em;">4、自然的建造</p>
            <p style="font-size: 1vw;text-indent: 2em;">
                建筑在材料使用上较为克制，注重材料与空间的逻辑关系、内外的一体化以及材料语言自身的表现力。建筑的前广场、首层外墙和二层楼面均使用了红砖这一该地区历史建筑较为典型的材料，结合办公楼建筑形态构成了由南向北连续起伏的砖肌理地表。红砖的砌筑方式与所在位置、开口方式、功能要求密切相关，并在砖地表的不同区域产生凹凸、错叠、渗透等的变化。在砖盒子界面之间，室内外连桥、楼梯、门窗框以及部分室内台面等均采用钢板材料，部分室外地面还做了防滑处理。砖盒子的内部被处理为统一的浅色背景，使用了水磨石、涂料等。在砖盒子之上，二层空间内外均使用穿孔铝制格栅吊顶，照明、空调、设备等管线隐藏其中，形成完整的空间界面，与粗糙的砖表面形成对应。
            </p>
        </div>
    </div>
    <div class="structure">
        <div class="content">
            <div class="l">
                <p>项目名称：鼎石物流办公楼</p>
                <p>项目地址：河北，唐山</p>
                <p>用地面积：8087平米</p>
                <p>建筑面积：4617平米</p>
                <p>主要材料：砖、玻璃、铝板、水磨石</p>
                <p>设计时间：2017.03—2017.06</p>
                <p>施工时间：2018.03—2019.03</p>
                <p>设计公司：建筑营设计工作室(www.archstudio.cn)</p>
                <p>主持设计：韩文强</p>
                <p>建筑设计：姜兆、胡博、蒯新珏、张勇（结构）、郑宝伟、于妍、王甫（水暖电）</p>
                <p>室内及景观设计：姜兆、胡博、朱亚伟、黄涛</p>
                <p>配合单位：丰润建筑设计所</p>
                <p>摄影师：王宁</p>
                <p>撰文：韩文强</p>
            </div>
            <div class="r">
                <ul>
                    <li onclick="slideGo(this,0)"><img src="/ContentWeb/images/B/BB1.jpg" alt=""></li>
                    <li onclick="slideGo(this,1)"><img src="/ContentWeb/images/B/BB2.jpg" alt=""></li>
                    <li onclick="slideGo(this,2)"><img src="/ContentWeb/images/B/BB3.jpg" alt=""></li>
                    <li onclick="slideGo(this,2)"><img src="/ContentWeb/images/B/BB4.jpg" alt=""></li>
                    <li onclick="slideGo(this,4)"><img src="/ContentWeb/images/B/BB5.jpg" alt=""></li>
                    <li onclick="slideGo(this,5)"><img src="/ContentWeb/images/B/BB6.jpg" alt=""></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="list">
        <div class="content">
            <ul id="listContent">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <div id="listContentHtml" style="display:none;">
                <div onclick="slideGo2(this,0)"><img src="/ContentWeb/images/B/B2.jpg" alt=""></div>
                <div onclick="slideGo2(this,1)"><img src="/ContentWeb/images/B/B3.jpg" alt=""></div>
                <div onclick="slideGo2(this,2)"><img src="/ContentWeb/images/B/B4.jpg" alt=""></div>
                <div onclick="slideGo2(this,3)"><img src="/ContentWeb/images/B/B5.jpg" alt=""></div>
                <div onclick="slideGo2(this,4)"><img src="/ContentWeb/images/B/B6.jpg" alt=""></div>
                <div onclick="slideGo2(this,5)"><img src="/ContentWeb/images/B/B7.jpg" alt=""></div>
                <div onclick="slideGo2(this,6)"><img src="/ContentWeb/images/B/B8.jpg" alt=""></div>
                <div onclick="slideGo2(this,7)"><img src="/ContentWeb/images/B/B9.jpg" alt=""></div>
                <div onclick="slideGo2(this,8)"><img src="/ContentWeb/images/B/B10.jpg" alt=""></div>
                <div onclick="slideGo2(this,9)"><img src="/ContentWeb/images/B/B11.jpg" alt=""></div>
            </div>
        </div>
    </div>
</div>

<!-- 设计图轮播 -->
<div class="structure-banner">
    <div class="banner-main">
        <div class="close" onclick="closes()"><img src="/ContentWeb/images/icon_close.png" alt=""></div>
        <div class="swiper-container" id="structureSwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="/ContentWeb/images/B/BB1.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/B/BB2.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/B/BB3.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/B/BB4.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/B/BB5.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/B/BB6.jpg" alt=""></div>


            </div>
        </div>
        <!-- 如果需要导航按钮 -->
        <div class="swiper-button-prev a"><img src="/ContentWeb/images/icon_l.png" alt=""></div>
        <div class="swiper-button-next b"><img src="/ContentWeb/images/icon_r.png" alt=""></div>
        <div class="down">
            <a href="/ContentWeb/images/B/B1.jpg" download id="down">
                <img src="/ContentWeb/images/icon_down.png">
            </a>
        </div>
    </div>
</div>
<!-- 产品图轮播 -->
<div class="list-banner">
    <div class="banner-main">
        <div class="close" onclick="closes2()"><img src="/ContentWeb/images/icon_close.png" alt=""></div>
        <div class="swiper-container" id="listSwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="/ContentWeb/images/B/B2.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/B/B3.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/B/B4.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/B/B5.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/B/B6.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/B/B7.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/B/B8.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/B/B9.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/B/B10.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/B/B11.jpg" alt=""></div>
            </div>
        </div>
        <!-- 如果需要导航按钮 -->
        <div class="swiper-button-prev c"><img src="/ContentWeb/images/icon_l.png" alt=""></div>
        <div class="swiper-button-next d"><img src="/ContentWeb/images/icon_r.png" alt=""></div>
        <div class="down">
            <a href="/ContentWeb/images/A.jpg" download id="down2">
                <img src="/ContentWeb/images/icon_down.png">
            </a>
        </div>
    </div>
</div>

<script>
    var structureSwiper, listSwiper;
    $(function () {
        $('.detail .top img').css({
            'transform': 'scale(1)'
        });
        structureSwiper = new Swiper('#structureSwiper', {
            loop: true, // 循环模式选项
            speed: 800,
            // 如果需要前进后退按钮
            navigation: {
                nextEl: '.swiper-button-next.b',
                prevEl: '.swiper-button-prev.a',
            },
            on: {
                slideChangeTransitionStart: function () {
                    var _href = $('.structure .content .r ul li').eq(this.activeIndex).find('img')
                        .attr('src');
                    $('#down').attr('href', _href);
                }
            },
        });
        listSwiper = new Swiper('#listSwiper', {
            loop: true, // 循环模式选项
            speed: 800,
            // 如果需要前进后退按钮
            navigation: {
                nextEl: '.swiper-button-next.d',
                prevEl: '.swiper-button-prev.c',
            },
            on: {
                slideChangeTransitionStart: function () {
                    var _href = $('#listContentHtml div').eq(this.activeIndex).find('img')
                        .attr('src');
                    $('#down2').attr('href', _href);
                }
            },
        });
    });
    var _i = 0;
    $('#listContentHtml div').each(function (value, index) {
        $('#listContent li').eq(_i).append($(this));
        //最后一个
        if ((_i + 1) % 5 == 0) {
            _i=0;
        }else{
            _i++;
        }
    })
    
    function slideGo(obj, index) {
        $('.structure-banner').css({
            'z-index': '999',
            'opacity': '1'
        });
        structureSwiper.slideToLoop(index, 0, false);
        $('#down').attr('href', $(obj).find('img').attr('src'));
    }

    function slideGo2(obj, index) {
        $('.list-banner').css({
            'z-index': '999',
            'opacity': '1'
        });
        listSwiper.slideToLoop(index, 0, false);
        $('#down2').attr('href', $(obj).find('img').attr('src'));
    }

    function closes() {
        $('.structure-banner').css({
            'z-index': '-1',
            'opacity': '0'
        });
    }

    function closes2() {
        $('.list-banner').css({
            'z-index': '-1',
            'opacity': '0'
        });
    }
</script>