<link rel="stylesheet" href="/ContentWeb/css/productDetail.css">
<script src="/ContentWeb/swiper/js/swiper.min.js"></script>
<link rel="stylesheet" href="/ContentWeb/swiper/css/swiper.min.css">
<div class="detail">
    <div class="top">
        <img src="/ContentWeb//images/F/F3.jpg" alt="">
    </div>
    <div class="text">
        <div class="l">
            院宅 Couryard House
        </div>
        <div class="r">
            <p style="margin: 1em 0px 0px; line-height: 2em; text-indent: 21px;">
                <span style="font-family:;" times="" new=""><span
                        style="font-family: Times New Roman;">这栋住宅位于北京市中心传统四合院片区内，占地面积仅为</span>120<span
                        style="font-family: Times New Roman;">平米。在一个外在条件严格限制的狭小场地内，我们试图将传统四合院空间气息引入当代城市住宅设计，创造一种舒适、写意的内向型院落居住环境。</span></span>
            </p>
            <p style="margin: 1em 0px 0px; line-height: 2em; text-indent: 21px;">
                <span style="font-family:;" times="" new=""><span
                        style="font-family: Times New Roman;">设计利用前院</span>+<span
                        style="font-family: Times New Roman;">侧院</span><span style="font-family: 微软雅黑;">+</span><span
                        style="font-family: Times New Roman;">后院</span><span style="font-family: 微软雅黑;">+</span><span
                        style="font-family: Times New Roman;">内院的合院组织结构，作为内部功能空间布局的逻辑基础。院落的介入，一方面使得内部空间打破楼层的界限形成连续的整体；另一方面在水平楼层之中呈现出院</span><span
                        style="font-family: 微软雅黑;">/</span><span style="font-family: Times New Roman;">宅</span><span
                        style="font-family: 微软雅黑;">/</span><span style="font-family: Times New Roman;">院</span><span
                        style="font-family: 微软雅黑;">/</span><span style="font-family: Times New Roman;">宅</span><span
                        style="font-family: 微软雅黑;">/</span><span
                        style="font-family: Times New Roman;">院的连续节奏变化，使内部空间兼备连续性和层次性的特征。院子是住宅内外关系的媒介。住宅院墙采用四合院传统的灰砖材料，通过砖墙砌筑方式的变化产生渐变的空隙，弱化砖墙的厚重感，使内外环境虚实转换、互相渗透。</span></span>
            </p>
            <p style="margin: 1em 0px 0px; line-height: 2em; text-indent: 21px;">
                <span style="font-family:;" times="" new=""><span
                        style="font-family: Times New Roman;">我们希望在当代城市环境的剧变之中找寻居住传统，鼓励内部空间与外在自然环境的交流对话，创造出适应当代人的生活方式，符合传统文化性格的新型人居环境。</span></span>
            </p>
            <p style="line-height: 2em;"></p>
            <div class="structure">
                <div class="content">
                    <div class="l">
                        <p>项目名称：院宅</p>
                        <p>项目位置：中国北京</p>
                        <p>楼层面积： 约297平米</p>
                        <p>完工日期：2018年2月</p>
                        <p>设计公司：建筑营设计工作室(www.archstudio.cn)</p>
                        <p>主创建筑师：韩文强</p>
                    </div>
                    <div class="r">
                        <ul>
                            <li onclick="slideGo(this,0)"><img src="/ContentWeb/images/F/FF1.jpg" alt=""></li>
                            <li onclick="slideGo(this,1)"><img src="/ContentWeb/images/F/FF2.jpg" alt=""></li>
                            <li onclick="slideGo(this,2)"><img src="/ContentWeb/images/F/FF3.jpg" alt=""></li>
                            <li onclick="slideGo(this,3)"><img src="/ContentWeb/images/F/FF4.jpg" alt=""></li>
                            <li onclick="slideGo(this,4)"><img src="/ContentWeb/images/F/FF5.jpg" alt=""></li>
                            <li onclick="slideGo(this,5)"><img src="/ContentWeb/images/F/FF6.jpg" alt=""></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="list">
                <div class="content">
                    <ul id="listContent">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <div id="listContentHtml" style="display:none;">
                        <div onclick="slideGo2(this,0)"><img src="/ContentWeb/images/F/F2.jpg" alt=""></div>
                        <div onclick="slideGo2(this,1)"><img src="/ContentWeb/images/F/F3.jpg" alt=""></div>
                        <div onclick="slideGo2(this,2)"><img src="/ContentWeb/images/F/F4.jpg" alt=""></div>
                        <div onclick="slideGo2(this,3)"><img src="/ContentWeb/images/F/F5.jpg" alt=""></div>
                        <div onclick="slideGo2(this,4)"><img src="/ContentWeb/images/F/F6.jpg" alt=""></div>
                        <div onclick="slideGo2(this,5)"><img src="/ContentWeb/images/F/F7.jpg" alt=""></div>
                        <div onclick="slideGo2(this,6)"><img src="/ContentWeb/images/F/F8.jpg" alt=""></div>
                        <div onclick="slideGo2(this,7)"><img src="/ContentWeb/images/F/F9.jpg" alt=""></div>
                        <div onclick="slideGo2(this,8)"><img src="/ContentWeb/images/F/F10.jpg" alt=""></div>
                        <div onclick="slideGo2(this,9)"><img src="/ContentWeb/images/F/F11.jpg" alt=""></div>
                        <div onclick="slideGo2(this,10)"><img src="/ContentWeb/images/F/F12.jpg" alt=""></div>
                        <div onclick="slideGo2(this,10)"><img src="/ContentWeb/images/F/F13.jpg" alt=""></div>
                        <div onclick="slideGo2(this,10)"><img src="/ContentWeb/images/F/F14.jpg" alt=""></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 设计图轮播 -->
        <div class="structure-banner">
            <div class="banner-main">
                <div class="close" onclick="closes()"><img src="/ContentWeb/images/icon_close.png" alt=""></div>
                <div class="swiper-container" id="structureSwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="/ContentWeb/images/F/FF1.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="/ContentWeb/images/F/FF2.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="/ContentWeb/images/F/FF3.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="/ContentWeb/images/F/FF4.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="/ContentWeb/images/F/FF5.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="/ContentWeb/images/F/FF6.jpg" alt=""></div>
                    </div>
                </div>
                <!-- 如果需要导航按钮 -->
                <div class="swiper-button-prev a"><img src="/ContentWeb/images/icon_l.png" alt=""></div>
                <div class="swiper-button-next b"><img src="/ContentWeb/images/icon_r.png" alt=""></div>
                <div class="down">
                    <a href="/ContentWeb/images/F/F1.jpg" download id="down">
                        <img src="/ContentWeb/images/icon_down.png">
                    </a>
                </div>
            </div>
        </div>
        <!-- 产品图轮播 -->
        <div class="list-banner">
            <div class="banner-main">
                <div class="close" onclick="closes2()"><img src="/ContentWeb/images/icon_close.png" alt=""></div>
                <div class="swiper-container" id="listSwiper">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide"><img src="/ContentWeb/images/F/F2.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="/ContentWeb/images/F/F3.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="/ContentWeb/images/F/F4.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="/ContentWeb/images/F/F5.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="/ContentWeb/images/F/F6.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="/ContentWeb/images/F/F7.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="/ContentWeb/images/F/F8.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="/ContentWeb/images/F/F9.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="/ContentWeb/images/F/F10.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="/ContentWeb/images/F/F11.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="/ContentWeb/images/F/F12.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="/ContentWeb/images/F/F13.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="/ContentWeb/images/F/F14.jpg" alt=""></div>
                    </div>
                </div>
                <!-- 如果需要导航按钮 -->
                <div class="swiper-button-prev c"><img src="/ContentWeb/images/icon_l.png" alt=""></div>
                <div class="swiper-button-next d"><img src="/ContentWeb/images/icon_r.png" alt=""></div>
                <div class="down">
                    <a href="/ContentWeb/images/A.jpg" download id="down2">
                        <img src="/ContentWeb/images/icon_down.png">
                    </a>
                </div>
            </div>
        </div>

        <script>
            var structureSwiper, listSwiper;
            $(function () {
                $('.detail .top img').css({
                    'transform': 'scale(1)'
                });
                structureSwiper = new Swiper('#structureSwiper', {
                    loop: true, // 循环模式选项
                    speed: 800,
                    // 如果需要前进后退按钮
                    navigation: {
                        nextEl: '.swiper-button-next.b',
                        prevEl: '.swiper-button-prev.a',
                    },
                    on: {
                        slideChangeTransitionStart: function () {
                            var _href = $('.structure .content .r ul li').eq(this.activeIndex).find(
                                    'img')
                                .attr('src');
                            $('#down').attr('href', _href);
                        }
                    },
                });
                listSwiper = new Swiper('#listSwiper', {
                    loop: true, // 循环模式选项
                    speed: 800,
                    // 如果需要前进后退按钮
                    navigation: {
                        nextEl: '.swiper-button-next.d',
                        prevEl: '.swiper-button-prev.c',
                    },
                    on: {
                        slideChangeTransitionStart: function () {
                            var _href = $('#listContentHtml div').eq(this.activeIndex).find('img')
                                .attr('src');
                            $('#down2').attr('href', _href);
                        }
                    },
                });
            });
            var _i = 0;
            $('#listContentHtml div').each(function (value, index) {
                $('#listContent li').eq(_i).append($(this));
                //最后一个
                if ((_i + 1) % 5 == 0) {
                    _i = 0;
                } else {
                    _i++;
                }
            })
            

            function slideGo(obj, index) {
                $('.structure-banner').css({
                    'z-index': '999',
                    'opacity': '1'
                });
                structureSwiper.slideToLoop(index, 0, false);
                $('#down').attr('href', $(obj).find('img').attr('src'));
            }

            function slideGo2(obj, index) {
                $('.list-banner').css({
                    'z-index': '999',
                    'opacity': '1'
                });
                listSwiper.slideToLoop(index, 0, false);
                $('#down2').attr('href', $(obj).find('img').attr('src'));
            }

            function closes() {
                $('.structure-banner').css({
                    'z-index': '-1',
                    'opacity': '0'
                });
            }

            function closes2() {
                $('.list-banner').css({
                    'z-index': '-1',
                    'opacity': '0'
                });
            }
        </script>