<link rel="stylesheet" href="/ContentWeb/css/product.css">
<div class="product-list">
    <ul>
        <li>
            <a href="/productDetail">
                <p><img src="/ContentWeb/images/home_banner.jpg" alt=""></p>
                <div>
                    <h2>商业</h2>
                    <p>中央美院多功能厅改造</p>
                    <span>北京，中央美术学院</span>
                </div>
            </a>
        </li>
        <li>
            <a href="/productDetail">
                <p><img src="/ContentWeb/images/home_banner.jpg" alt=""></p>
                <div>
                    <h2>商业</h2>
                    <p>院宅 Couryard House</p>
                    <span>北京，中央美术学院</span>
                </div>
            </a>
        </li>
        <li>
            <a href="/productDetail">
                <p><img src="/ContentWeb/images/home_banner.jpg" alt=""></p>
                <div>
                    <h2>商业</h2>
                    <p>有机农场</p>
                    <span>唐山市，古冶区</span>
                </div>
            </a>
        </li>
        <li>
            <a href="/productDetail">
                <p><img src="/ContentWeb/images/home_banner.jpg" alt=""></p>
                <div>
                    <h2>商业</h2>
                    <p>四合宅</p>
                    <span>河北，唐山</span>
                </div>
            </a>
        </li>
        <li>
            <a href="/productDetail">
                <p><img src="/ContentWeb/images/home_banner.jpg" alt=""></p>
                <div>
                    <h2>宗教建筑</h2>
                    <p>水岸佛堂</p>
                    <span>河北，唐山</span>
                </div>
            </a>
        </li>
        <li>
            <a href="/productDetail">
                <p><img src="/ContentWeb/images/home_banner.jpg" alt=""></p>
                <div>
                    <h2>商业</h2>
                    <p>鼎石物流办公楼</p>
                    <span>河北，唐山</span>
                </div>
            </a>
        </li>
    </ul>
</div>