<link rel="stylesheet" href="/ContentWeb/css/product.css">
<div class="product">
    <ul>
        <li>
            <a href="/productList">
                <p><img src="/ContentWeb/images/home1.jpg" alt=""></p>
                <div>
                    <h2>建筑</h2>
                    <p>Architecture</p>
                </div>
            </a>
        </li>
        <li>
            <a href="/productList01">
                <p><img src="/ContentWeb/images/001.jpg" alt=""></p>
                <div>
                    <h2>改造</h2>
                    <p>Reconstruction</p>
                </div>
            </a>
        </li>
        <li>
            <a href="/productList-gz>
                <p><img src="/ContentWeb/images/001胡同外景-by-夏至.jpg" alt=""></p>
                <div>
                    <h2>室内</h2>
                    <p>Interior</p>
                </div>
            </a>
        </li>
        <li>
            <a href="/productList">
                <p><img src="/ContentWeb/images/home_banner.jpg" alt=""></p>
                <div>
                    <h2>产品</h2>
                    <p>Product</p>
                </div>
            </a>
        </li>
    </ul>
</div>