<link rel="stylesheet" href="/ContentWeb/css/productDetail.css">
<script src="/ContentWeb/swiper/js/swiper.min.js"></script>
<link rel="stylesheet" href="/ContentWeb/swiper/css/swiper.min.css">
<div class="detail">
    <div class="top">
        <img src="/ContentWeb/images/C/C8.jpg" alt="">
    </div>
    <div class="text">
        <div class="l">
            水岸佛堂
        </div>
        <div class="r">
            <p style="line-height: 2em;">
                <span style="font-size: 18px;">&nbsp;&nbsp;&nbsp;
                    这是一个供人参佛、静思、冥想的场所，同时也可以满足个人的生活起居。建筑的选址在一条河畔的树林下。这里沿着河面有一块土丘，背后是广阔的田野和零星的蔬菜大棚。设计从建筑与自然的关联入手，利用覆土的方式让建筑隐于土丘之下并以流动的内部空间彰显出自然的神性气质，塑造树、水、佛、人共存的具有感受力的场所。</span>
            </p>
            <p style="line-height: 2em;">
                <span style="font-size: 18px;">&nbsp;&nbsp;&nbsp;
                    为了将河畔树木完好的保留下来，建筑平面小心翼翼的避开所有的树干位置，它的形状也像分叉的树枝一样伸展在原有树林之下。依靠南北与沿河面的两条轴线，建筑内部产生出五个分隔而又连续一体的空间。五个“分叉”代表了出入、参佛、饮茶、起居、卫浴五种不同的空间，共同构成漫步式的行为体验。建筑始终与树和自然景观保持着亲密关系。出入口正对着两棵树，人从树下经由一条狭窄的通道缓缓的走入建筑之内；佛龛背墙面水，天光与树影通过佛龛顶部的天窗沿着弧形墙面柔和的洒入室内，渲染佛祖的光辉；茶室向遍植荷花的水面完全开敞，几棵树分居左右成为庭院的一部分，创造品茶与观景的乐趣；休息室与建筑其他部分由一个竹庭院分隔，让起居活动伴随着一天时光的变化。建筑物整体覆土成为土地的延伸，成为树荫之下一座可以被使用的“山丘”。</span>
            </p>
            <p style="line-height: 2em;">
                <span
                    style="font-size: 18px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;与自然的关系进一步延伸至材料层面。建筑墙面与屋顶采用混凝土整体浇筑，一次成型。混凝土模板由3公分宽的松木条拼合而成，自然的木纹与竖向的线性肌理被刻印在室内界面，让冰冷的混凝土材料产生柔和、温暖的感受。固定家具也是由木条板定制的，灰色的木质纹理与混凝土墙产生一些微差。室内地面采用光滑的水磨石材，表面有细细的石子纹路，将外界的自然景色映射进室内。室外地面则由白色鹅卵石浆砌而成，内与外产生触感的变化。所有门窗均为实木门窗，以体现自然的材料质感。禅宗讲究顺应自然，并成为自然的一部分。这同样也是这个空间设计的追求——利用空间、结构、材料激发身体的感知，人与建筑都能在一个平常的乡村风景之中重新发现自然的魅力，与自然共生。</span>
            </p>
            <p style="line-height: 2em;">
                <span style="font-size: 18px;">&nbsp;</span>
            </p>
        </div>
    </div>
    <div class="structure">
        <div class="content">
            <div class="l">
                <p>
                    <span style="color: rgb(0, 0, 0); font-family: 微软雅黑; font-size: 14px;"><span
                            style="font-family: 微软雅黑;">项目地址：河北，唐山</span></span>
                </p>
                <p>
                    <span style="color: rgb(0, 0, 0); font-family: 微软雅黑; font-size: 14px;"><span
                            style="font-family: 微软雅黑;">项目类型：宗教建筑</span></span>
                </p>
                <p>
                    <span style="color: rgb(0, 0, 0); font-family: 微软雅黑; font-size: 14px;"><span
                            style="font-family: 微软雅黑;">用地面积：约</span>500平米</span><span
                        style="color: rgb(0, 0, 0); font-family: 微软雅黑; font-size: 14px;"><br /></span><span
                        style="color: rgb(0, 0, 0); font-family: 微软雅黑; font-size: 14px;"><span
                            style="font-family: 微软雅黑;">建筑面积：</span>169平米</span><span
                        style="color: rgb(0, 0, 0); font-family: 微软雅黑; font-size: 14px;"><br /></span><span
                        style="color: rgb(0, 0, 0); font-family: 微软雅黑; font-size: 14px;"><span
                            style="font-family: 微软雅黑;">设计时间：</span>2015.04—2015.08</span>
                </p>
                <p>
                    <span style="color: rgb(0, 0, 0); font-family: 微软雅黑; font-size: 14px;"><span
                            style="font-family: 微软雅黑;">施工时间：</span>2015.10—2017.01</span>
                </p>
                <p>
                    <span style="color: rgb(0, 0, 0); font-family: 微软雅黑; font-size: 14px;"><span
                            style="font-family: 微软雅黑;">设计公司：建筑营设计工作室</span> (</span><a
                        href="http://www.archstudio.cn/"><span
                            style="color: rgb(0, 0, 0); font-family: 微软雅黑; font-size: 14px;">www.archstudio.cn</span></a><span
                        style="color: rgb(0, 0, 0); font-family: 微软雅黑; font-size: 16px;">)</span>
                </p>
                <p>
                    <span style="color: rgb(0, 0, 0); font-family: 微软雅黑; font-size: 14px;"><span
                            style="font-family: 微软雅黑;">建筑师：韩文强</span></span>
                </p>
                <p>
                    <span style="color: rgb(0, 0, 0); font-family: 微软雅黑; font-size: 14px;"><span
                            style="font-family: 微软雅黑;">建筑设计：姜兆、李晓明</span></span>
                </p>
                <p>
            </div>
            <div class="r">
                <ul>
                    <li onclick="slideGo(this,0)"><img src="/ContentWeb/images/C/CC1.jpg" alt=""></li>
                    <li onclick="slideGo(this,1)"><img src="/ContentWeb/images/C/CC2.jpg" alt=""></li>
                    <li onclick="slideGo(this,2)"><img src="/ContentWeb/images/C/CC3.jpg" alt=""></li>
                    <li onclick="slideGo(this,2)"><img src="/ContentWeb/images/C/CC4.jpg" alt=""></li>
                    <li onclick="slideGo(this,4)"><img src="/ContentWeb/images/C/CC5.jpg" alt=""></li>
                    <li onclick="slideGo(this,5)"><img src="/ContentWeb/images/C/CC6.jpg" alt=""></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="list">
        <div class="content">
            <ul id="listContent">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <div id="listContentHtml" style="display:none;">
                <div onclick="slideGo2(this,0)"><img src="/ContentWeb/images/C/C2.jpg" alt=""></div>
                <div onclick="slideGo2(this,1)"><img src="/ContentWeb/images/C/C3.jpg" alt=""></div>
                <div onclick="slideGo2(this,2)"><img src="/ContentWeb/images/C/C4.jpg" alt=""></div>
                <div onclick="slideGo2(this,3)"><img src="/ContentWeb/images/C/C5.jpg" alt=""></div>
                <div onclick="slideGo2(this,4)"><img src="/ContentWeb/images/C/C6.jpg" alt=""></div>
                <div onclick="slideGo2(this,5)"><img src="/ContentWeb/images/C/C7.jpg" alt=""></div>
                <div onclick="slideGo2(this,6)"><img src="/ContentWeb/images/C/C8.jpg" alt=""></div>
                <div onclick="slideGo2(this,7)"><img src="/ContentWeb/images/C/C9.jpg" alt=""></div>
                <div onclick="slideGo2(this,8)"><img src="/ContentWeb/images/C/C10.jpg" alt=""></div>
                <div onclick="slideGo2(this,9)"><img src="/ContentWeb/images/C/C11.jpg" alt=""></div>
            </div>
        </div>
    </div>
</div>

<!-- 设计图轮播 -->
<div class="structure-banner">
    <div class="banner-main">
        <div class="close" onclick="closes()"><img src="/ContentWeb/images/icon_close.png" alt=""></div>
        <div class="swiper-container" id="structureSwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="/ContentWeb/images/C/CC1.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/C/CC2.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/C/CC3.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/C/CC4.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/C/CC5.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/C/CC6.jpg" alt=""></div>


            </div>
        </div>
        <!-- 如果需要导航按钮 -->
        <div class="swiper-button-prev a"><img src="/ContentWeb/images/icon_l.png" alt=""></div>
        <div class="swiper-button-next b"><img src="/ContentWeb/images/icon_r.png" alt=""></div>
        <div class="down">
            <a href="/ContentWeb/images/C/C1.jpg" download id="down">
                <img src="/ContentWeb/images/icon_down.png">
            </a>
        </div>
    </div>
</div>
<!-- 产品图轮播 -->
<div class="list-banner">
    <div class="banner-main">
        <div class="close" onclick="closes2()"><img src="/ContentWeb/images/icon_close.png" alt=""></div>
        <div class="swiper-container" id="listSwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="/ContentWeb/images/C/C2.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/C/C3.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/C/C4.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/C/C5.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/C/C6.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/C/C7.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/C/C8.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/C/C9.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/C/C10.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/C/C11.jpg" alt=""></div>
            </div>
        </div>
        <!-- 如果需要导航按钮 -->
        <div class="swiper-button-prev c"><img src="/ContentWeb/images/icon_l.png" alt=""></div>
        <div class="swiper-button-next d"><img src="/ContentWeb/images/icon_r.png" alt=""></div>
        <div class="down">
            <a href="/ContentWeb/images/A.jpg" download id="down2">
                <img src="/ContentWeb/images/icon_down.png">
            </a>
        </div>
    </div>
</div>

<script>
    var structureSwiper, listSwiper;
    $(function () {
        $('.detail .top img').css({
            'transform': 'scale(1)'
        });
        structureSwiper = new Swiper('#structureSwiper', {
            loop: true, // 循环模式选项
            speed: 800,
            // 如果需要前进后退按钮
            navigation: {
                nextEl: '.swiper-button-next.b',
                prevEl: '.swiper-button-prev.a',
            },
            on: {
                slideChangeTransitionStart: function () {
                    var _href = $('.structure .content .r ul li').eq(this.activeIndex).find('img')
                        .attr('src');
                    $('#down').attr('href', _href);
                }
            },
        });
        listSwiper = new Swiper('#listSwiper', {
            loop: true, // 循环模式选项
            speed: 800,
            // 如果需要前进后退按钮
            navigation: {
                nextEl: '.swiper-button-next.d',
                prevEl: '.swiper-button-prev.c',
            },
            on: {
                slideChangeTransitionStart: function () {
                    var _href = $('#listContentHtml div').eq(this.activeIndex).find('img')
                        .attr('src');
                    $('#down2').attr('href', _href);
                }
            },
        });
    });
    var _i = 0;
    $('#listContentHtml div').each(function (value, index) {
        $('#listContent li').eq(_i).append($(this));
        //最后一个
        if ((_i + 1) % 5 == 0) {
            _i=0;
        }else{
            _i++;
        }
    })
    
    function slideGo(obj, index) {
        $('.structure-banner').css({
            'z-index': '999',
            'opacity': '1'
        });
        structureSwiper.slideToLoop(index, 0, false);
        $('#down').attr('href', $(obj).find('img').attr('src'));
    }

    function slideGo2(obj, index) {
        $('.list-banner').css({
            'z-index': '999',
            'opacity': '1'
        });
        listSwiper.slideToLoop(index, 0, false);
        $('#down2').attr('href', $(obj).find('img').attr('src'));
    }

    function closes() {
        $('.structure-banner').css({
            'z-index': '-1',
            'opacity': '0'
        });
    }

    function closes2() {
        $('.list-banner').css({
            'z-index': '-1',
            'opacity': '0'
        });
    }
</script>