<link rel="stylesheet" href="/ContentWeb/css/product.css">
<div class="product-list">
    <ul>
        <li>
            <a href="/productDetail">
                <p><img src="/ContentWeb/images/home_banner.jpg" alt=""></p>
                <div>
                    <h2>商业</h2>
                    <p>水岸佛堂</p>
                    <span>中国，北京</span>
                </div>
            </a>
        </li>
        <li>
            <a href="/productDetail">
                <p><img src="/ContentWeb/images/home_banner.jpg" alt=""></p>
                <div>
                    <h2>商业</h2>
                    <p>水岸佛堂</p>
                    <span>中国，北京</span>
                </div>
            </a>
        </li>
        <li>
            <a href="/productDetail">
                <p><img src="/ContentWeb/images/home_banner.jpg" alt=""></p>
                <div>
                    <h2>商业</h2>
                    <p>水岸佛堂</p>
                    <span>中国，北京</span>
                </div>
            </a>
        </li>
        <li>
            <a href="/productDetail">
                <p><img src="/ContentWeb/images/home_banner.jpg" alt=""></p>
                <div>
                    <h2>商业</h2>
                    <p>水岸佛堂</p>
                    <span>中国，北京</span>
                </div>
            </a>
        </li>
        <li>
            <a href="/productDetail">
                <p><img src="/ContentWeb/images/home_banner.jpg" alt=""></p>
                <div>
                    <h2>商业</h2>
                    <p>水岸佛堂</p>
                    <span>中国，北京</span>
                </div>
            </a>
        </li>
        <li>
            <a href="/productDetail">
                <p><img src="/ContentWeb/images/home_banner.jpg" alt=""></p>
                <div>
                    <h2>商业</h2>
                    <p>水岸佛堂</p>
                    <span>中国，北京</span>
                </div>
            </a>
        </li>
    </ul>
</div>