<link rel="stylesheet" href="/ContentWeb/css/productDetail.css">
<script src="/ContentWeb/swiper/js/swiper.min.js"></script>
<link rel="stylesheet" href="/ContentWeb/swiper/css/swiper.min.css">
<div class="detail">
    <div class="top">
        <img src="/ContentWeb/images/G/G2.jpg" alt="">
    </div>
    <div class="text">
        <div class="l">
            中央美院多功能厅改造
        </div>
        <div class="r">
            <p style="margin: 1em 0px 0px; line-height: 2em; text-indent: 32px;">
                <span style="color: rgb(0, 0, 0); font-family: Georgia; font-size: 16px;"><span
                        style="font-family: 宋体;">多功能厅处在中央美术学院校区建筑群的中心，一直以来都是美院最为高大的单层室内空间之一。这里在改造之前曾作为校史陈列馆，原本室内空间已经比较老旧，不再适应现代教学的使用需求。正逢</span></span><span
                    style="color: rgb(0, 0, 0); font-family: Georgia; font-size: 16px;">2018</span><span
                    style="color: rgb(0, 0, 0); font-family: Georgia; font-size: 16px;"><span
                        style="font-family: 宋体;">中央美院</span></span><span
                    style="color: rgb(0, 0, 0); font-family: Georgia; font-size: 16px;">“</span><span
                    style="color: rgb(0, 0, 0); font-family: Georgia; font-size: 16px;"><span
                        style="font-family: 宋体;">百年校庆</span></span><span
                    style="color: rgb(0, 0, 0); font-family: Georgia; font-size: 16px;">”</span><span
                    style="color: rgb(0, 0, 0); font-family: Georgia; font-size: 16px;"><span
                        style="font-family: 宋体;">之机遇，校园空间进行一系列新的调整，建筑的功能被还原为学院多功能厅</span></span><span
                    style="color: rgb(0, 0, 0); font-family: Georgia; font-size: 16px;">——</span><span
                    style="color: rgb(0, 0, 0); font-family: Georgia; font-size: 16px;"><span
                        style="font-family: 宋体;">即以配合日常教学的艺术作品展厅为主，同时兼顾全院师生大型的会议、演艺等活动的使用需求。</span></span>
            </p>
            <p style="margin: 1em 0px 0px; line-height: 2em; text-indent: 32px;">
                <span style="color: rgb(0, 0, 0); font-family: Georgia; font-size: 16px;"><span
                        style="font-family: 宋体;">改造思路就像是</span></span><span
                    style="color: rgb(0, 0, 0); font-family: Georgia; font-size: 16px;">&nbsp;“</span><span
                    style="color: rgb(0, 0, 0); font-family: Georgia; font-size: 16px;"><span
                        style="font-family: 宋体;">空间素描</span></span><span
                    style="color: rgb(0, 0, 0); font-family: Georgia; font-size: 16px;">”——</span><span
                    style="color: rgb(0, 0, 0); font-family: Georgia; font-size: 16px;"><span
                        style="font-family: 宋体;">在已有建筑空间关系的基础上，利用简明的形式和朴素的材料进一步</span></span><span
                    style="color: rgb(0, 0, 0); font-family: Georgia; font-size: 16px;">“</span><span
                    style="color: rgb(0, 0, 0); font-family: Georgia; font-size: 16px;"><span
                        style="font-family: 宋体;">描绘</span></span><span
                    style="color: rgb(0, 0, 0); font-family: Georgia; font-size: 16px;">”</span><span
                    style="color: rgb(0, 0, 0); font-family: Georgia; font-size: 16px;"><span
                        style="font-family: 宋体;">室内界面，满足作为一个师生聚会场所的仪式性和灵活性使用需求。</span></span>
            </p>
            <p style="margin: 1em 0px 0px; line-height: 2em; text-indent: 32px;">
                <span style="color: rgb(0, 0, 0); font-family: Georgia; font-size: 16px;"><span
                        style="font-family: 宋体;">改造范围包括前厅、内厅、卫生间、后台、办公室等，黑、白、灰材料将这些不同尺度的空间梳理为渐进变化的空间序列。前厅被处理成一个灰盒子，墙顶地均由灰色花岗岩包裹。透过落地玻璃门，室内外材料自然连接。前厅尽端的三扇中轴旋转门如屏风一般分隔了前厅与内厅，以减少外部活动对内厅的干扰。中旋门表面覆盖黑色镜钢，映射着外部变化的自然景观。原卫生间部分被重新设计，调整流线关系并合理化使用功能。前厅增设了镜面墙体，让这个内外过渡空间产生多样的视觉变化。</span></span>
            </p>
            <p style="margin: 1em 0px 0px; line-height: 2em; text-indent: 32px;">
                <span style="color: rgb(0, 0, 0); font-family: Georgia; font-size: 16px;"><span
                        style="font-family: 宋体;">进入内厅，由吸音板将墙面整合为一个完整纯净的白色背景。原本固定的舞台被拆除，代之以可组装的移动舞台，这样整个大厅都可以作为展示空间灵活布置。舞台部分墙面使用折板过渡，以使观演空间连续一体。原建筑门窗也被隐藏于墙体界面之内。内厅的铝制格栅吊顶中包含了照明、空调、消防、音响设备等，并配备智能控制的可升降灯杆。人工照明的亮度和高度均可以根据功能转换的需要智能调节。在展厅模式下，</span><span
                        style="font-family: 宋体;">滑轨射灯杆</span><span style="font-family: 宋体;">可以统一降至</span></span><span
                    style="color: rgb(0, 0, 0); font-family: Georgia; font-size: 16px;">3</span><span
                    style="color: rgb(0, 0, 0); font-family: Georgia; font-size: 16px;"><span
                        style="font-family: 宋体;">米高度，确保灯光可以根据展示隔断位置自由控制并便于人工调整；在会议及演艺模式下，灯杆可以呈现整体动态变化，渲染特定的场景气氛。</span></span>
            </p>
            <p style="margin: 1em 0px 0px; line-height: 2em; text-indent: 32px;">
                <span style="color: rgb(0, 0, 0); font-family: Georgia; font-size: 16px;"><span
                        style="font-family: 宋体;">后台区主要用作展示隔断、活动家具的储藏空间，并开辟了一个部分作为贵宾休息厅，其设计也延续了折板墙面的形式语言。改造之中的所有设施设备均被尽量隐藏于完整的材料界面之内，以呈现纯粹、简洁的空间观感。当这个多功能场所隐退为静默的背景，鲜活多彩的学院活动就被进一步凸显出来。</span></span>
            </p>
            <p>
                &nbsp;
            </p>
        </div>
    </div>
    <div class="structure">
        <div class="content">
            <div class="l">
                <p style="margin: 1em 0px 0px;">
                    <span style="font-family: Georgia; font-size: 16px;"><span
                            style="font-family: 宋体;">设计机构</span></span><span
                        style="font-family: Georgia; font-size: 16px;">: </span><span
                        style="font-family: Georgia; font-size: 16px;"><span
                            style="font-family: 宋体;">中央美院建筑学院</span></span>
                </p>
                <p style="margin: 1em 0px 0px;">
                    <span style="font-family: Georgia; font-size: 16px;"><span
                            style="font-family: 宋体;">设计师：韩文强、赵阳</span></span>
                </p>
                <p style="margin: 1em 0px 0px;">
                    <span style="font-family: Georgia; font-size: 16px;"><span
                            style="font-family: 宋体;">项目地点：中央美术学院</span></span>
                </p>
                <p style="margin: 1em 0px 0px;">
                    <span style="font-family: Georgia; font-size: 16px;"><span
                            style="font-family: 宋体;">项目面积：</span></span><span
                        style="font-family: Georgia; font-size: 16px;">1400</span><span
                        style="font-family: Georgia; font-size: 16px;"><span style="font-family: 宋体;">平方米</span></span>
                </p>
                <p style="margin: 1em 0px 0px;">
                    <span style="font-family: Georgia; font-size: 16px;"><span
                            style="font-family: 宋体;">主要材料：吸音板、花岗岩、</span><span
                            style="font-family: 宋体;">镜面钢</span></span>
                </p>
                <p style="margin: 1em 0px 0px;">
                    <span style="font-family: Georgia; font-size: 16px;"><span
                            style="font-family: 宋体;">摄影师：金伟</span><span style="font-family: 宋体;">琦</span></span>
                </p>
                <p style="margin: 1em 0px 0px;">
                    <span style="font-family: Georgia; font-size: 16px;"><span
                            style="font-family: 宋体;">完工日期</span></span><span
                        style="font-family: Georgia; font-size: 16px;">: </span><span
                        style="font-family: 宋体; font-size: 16px;">2018.01</span>
                </p>
                <p></p>
            </div>
            <div class="r">
                <ul>
                    <li onclick="slideGo(this,0)"><img src="/ContentWeb/images/G/GG1.jpg" alt=""></li>
                    <li onclick="slideGo(this,1)"><img src="/ContentWeb/images/G/GG2.jpg" alt=""></li>
                    <li onclick="slideGo(this,2)"><img src="/ContentWeb/images/G/GG3.jpg" alt=""></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="list">
        <div class="content">
            <ul id="listContent">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <div id="listContentHtml" style="display:none;">
                <div onclick="slideGo2(this,0)"><img src="/ContentWeb/images/G/G2.jpg" alt=""></div>
                <div onclick="slideGo2(this,1)"><img src="/ContentWeb/images/G/G3.jpg" alt=""></div>
                <div onclick="slideGo2(this,2)"><img src="/ContentWeb/images/G/G4.jpg" alt=""></div>
                <div onclick="slideGo2(this,3)"><img src="/ContentWeb/images/G/G5.jpg" alt=""></div>
                <div onclick="slideGo2(this,4)"><img src="/ContentWeb/images/G/G6.jpg" alt=""></div>
                <div onclick="slideGo2(this,5)"><img src="/ContentWeb/images/G/G7.jpg" alt=""></div>
                <div onclick="slideGo2(this,6)"><img src="/ContentWeb/images/G/G8.jpg" alt=""></div>
                <div onclick="slideGo2(this,7)"><img src="/ContentWeb/images/G/G9.jpg" alt=""></div>
                <div onclick="slideGo2(this,8)"><img src="/ContentWeb/images/G/G10.jpg" alt=""></div>
                <div onclick="slideGo2(this,9)"><img src="/ContentWeb/images/G/G11.jpg" alt=""></div>
            </div>
        </div>
    </div>
</div>

<!-- 设计图轮播 -->
<div class="structure-banner">
    <div class="banner-main">
        <div class="close" onclick="closes()"><img src="/ContentWeb/images/icon_close.png" alt=""></div>
        <div class="swiper-container" id="structureSwiper">
            <div class="swiper-wrapper">

                <div class="swiper-slide"><img src="/ContentWeb/images/G/GG3.jpg" alt=""></div>

            </div>
        </div>
        <!-- 如果需要导航按钮 -->
        <div class="swiper-button-prev a"><img src="/ContentWeb/images/icon_l.png" alt=""></div>
        <div class="swiper-button-next b"><img src="/ContentWeb/images/icon_r.png" alt=""></div>
        <div class="down">
            <a href="/ContentWeb/images/G/G1.jpg" download id="down">
                <img src="/ContentWeb/images/icon_down.png">
            </a>
        </div>
    </div>
</div>
<!-- 产品图轮播 -->
<div class="list-banner">
    <div class="banner-main">
        <div class="close" onclick="closes2()"><img src="/ContentWeb/images/icon_close.png" alt=""></div>
        <div class="swiper-container" id="listSwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="/ContentWeb/images/G/G2.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/G/G3.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/G/G4.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/G/G5.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/G/G6.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/G/G7.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/G/G8.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/G/G9.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/G/G10.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/ContentWeb/images/G/G11.jpg" alt=""></div>
            </div>
        </div>
        <!-- 如果需要导航按钮 -->
        <div class="swiper-button-prev c"><img src="/ContentWeb/images/icon_l.png" alt=""></div>
        <div class="swiper-button-next d"><img src="/ContentWeb/images/icon_r.png" alt=""></div>
        <div class="down">
            <a href="/ContentWeb/images/A.jpg" download id="down2">
                <img src="/ContentWeb/images/icon_down.png">
            </a>
        </div>
    </div>
</div>

<script>
    var structureSwiper, listSwiper;
    $(function () {
        $('.detail .top img').css({
            'transform': 'scale(1)'
        });
        structureSwiper = new Swiper('#structureSwiper', {
            loop: true, // 循环模式选项
            speed: 800,
            // 如果需要前进后退按钮
            navigation: {
                nextEl: '.swiper-button-next.b',
                prevEl: '.swiper-button-prev.a',
            },
            on: {
                slideChangeTransitionStart: function () {
                    var _href = $('.structure .content .r ul li').eq(this.activeIndex).find('img')
                        .attr('src');
                    $('#down').attr('href', _href);
                }
            },
        });
        listSwiper = new Swiper('#listSwiper', {
            loop: true, // 循环模式选项
            speed: 800,
            // 如果需要前进后退按钮
            navigation: {
                nextEl: '.swiper-button-next.d',
                prevEl: '.swiper-button-prev.c',
            },
            on: {
                slideChangeTransitionStart: function () {
                    var _href = $('#listContentHtml div').eq(this.activeIndex).find('img')
                        .attr('src');
                    $('#down2').attr('href', _href);
                }
            },
        });
    });
    var _i = 0;
    $('#listContentHtml div').each(function (value, index) {
        $('#listContent li').eq(_i).append($(this));
        //最后一个
        if ((_i + 1) % 5 == 0) {
            _i=0;
        }else{
            _i++;
        }
    })
    
    function slideGo(obj, index) {
        $('.structure-banner').css({
            'z-index': '999',
            'opacity': '1'
        });
        structureSwiper.slideToLoop(index, 0, false);
        $('#down').attr('href', $(obj).find('img').attr('src'));
    }

    function slideGo2(obj, index) {
        $('.list-banner').css({
            'z-index': '999',
            'opacity': '1'
        });
        listSwiper.slideToLoop(index, 0, false);
        $('#down2').attr('href', $(obj).find('img').attr('src'));
    }

    function closes() {
        $('.structure-banner').css({
            'z-index': '-1',
            'opacity': '0'
        });
    }

    function closes2() {
        $('.list-banner').css({
            'z-index': '-1',
            'opacity': '0'
        });
    }
</script>