<link rel="stylesheet" href="/ContentWeb/css/product.css">
<div class="product-list">
    <ul>
        <li>
            <a href="/productDetailA">
                <p><img src="/ContentWeb/images/home_banner.jpg" alt=""></p>
                <div>
                    <h2>商业</h2>
                    <p>叠院儿</p>
                    <span>中国，北京</span>
                </div>
            </a>
        </li>
        <li>
            <a href="/productDetailB">
                <p><img src="/ContentWeb/images/B/B3.jpg" alt=""></p>
                <div>
                    <h2>商业</h2>
                    <p>鼎石物流办公楼</p>
                    <span>河北，唐山</span>
                </div>
            </a>
        </li>
        <li>
            <a href="/productDetailC">
                <p><img src="/ContentWeb/images/C/C8.jpg" alt=""></p>
                <div>
                    <h2>宗教建筑</h2>
                    <p>水岸佛堂</p>
                    <span>河北，唐山</span>
                </div>
            </a>
        </li>
        <li>
            <a href="/productDetailD">
                <p><img src="/ContentWeb/images/D/D2.jpg" alt=""></p>
                <div>
                    <h2>民居</h2>
                    <p>扭院儿</p>
                    <span>北京，排子胡同</span>
                </div>
            </a>
        </li>
        <li>
            <a href="/productDetailE">
                <p><img src="/ContentWeb/images/E/E2.jpg" alt=""></p>
                <div>
                    <h2>商业</h2>
                    <p>折叠院</p>
                    <span>北京，东城区钱粮胡同</span>
                </div>
            </a>
        </li>
        <li>
            <a href="/productDetailF">
                <p><img src="/ContentWeb/images/F/F3.jpg" alt=""></p>
                <div>
                    <h2>商业</h2>
                    <p>院宅</p>
                    <span>中国，北京</span>
                </div>
            </a>
        </li>
    </ul>
</div>