<div class="service-area">
    <div class="content">
        <div class="title">
            <h2>服务范围</h2>
            <p>目前工作室主要聚焦于自然环境中的建筑、城市建筑更新改造、室内消费空间升级等设计议题。</p>
        </div>
        <div class="area-banner">
            <div class="swiper-container" id="serviceArea">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <ul>
                            <li><img src="/ContentWeb/images/A/A9.jpg" alt=""></li>
                            <li><img src="/ContentWeb/images/A/A10.jpg" alt=""></li>
                            <li><img src="/ContentWeb/images/A/A11.jpg" alt=""></li>
                            <li><img src="/ContentWeb/images/A/A12.jpg" alt=""></li>
                            <li><img src="/ContentWeb/images/A/A13.jpg" alt=""></li>
                            <li><img src="/ContentWeb/images/A/A14.jpg" alt=""></li>
                            <li><img src="/ContentWeb/images/A/A15.jpg" alt=""></li>
                            <li><img src="/ContentWeb/images/A/A16.jpg" alt=""></li>
                            <li><img src="/ContentWeb/images/A/A17.jpg" alt=""></li>
                            <li><img src="/ContentWeb/images/A/A18.jpg" alt=""></li>
                            <li><img src="/ContentWeb/images/A/A19.jpg" alt=""></li>
                            <li><img src="/ContentWeb/images/A/A20.jpg" alt=""></li>
                        </ul>
                    </div>
                    <div class="swiper-slide">
                        <ul>
                            <li><img src="/ContentWeb/images/A/A9.jpg" alt=""></li>
                            <li><img src="/ContentWeb/images/A/A10.jpg" alt=""></li>
                            <li><img src="/ContentWeb/images/A/A11.jpg" alt=""></li>
                            <li><img src="/ContentWeb/images/A/A12.jpg" alt=""></li>
                            <li><img src="/ContentWeb/images/A/A13.jpg" alt=""></li>
                            <li><img src="/ContentWeb/images/A/A14.jpg" alt=""></li>
                            <li><img src="/ContentWeb/images/A/A15.jpg" alt=""></li>
                            <li><img src="/ContentWeb/images/A/A16.jpg" alt=""></li>
                            <li><img src="/ContentWeb/images/A/A17.jpg" alt=""></li>
                            <li><img src="/ContentWeb/images/A/A18.jpg" alt=""></li>
                            <li><img src="/ContentWeb/images/A/A19.jpg" alt=""></li>
                            <li><img src="/ContentWeb/images/A/A20.jpg" alt=""></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev c"><img src="/ContentWeb/images/l_icon.png" alt=""></div>
            <div class="swiper-button-next d"><img src="/ContentWeb/images/r_icon.png" alt=""></div>
        </div>
    </div>
</div>
<script src="/ContentWeb/swiper/js/swiper.min.js"></script>
<link rel="stylesheet" href="/ContentWeb/swiper/css/swiper.min.css">

<script>
    $(function () {
        var mySwiper = new Swiper('#serviceArea', {
            loop: true, // 循环模式选项
            speed: 800,
            autoplay: {
                delay: 5000,
                stopOnLastSlide: false,
                disableOnInteraction: true,
            },
            // 如果需要前进后退按钮
            navigation: {
                nextEl: '.swiper-button-next.d',
                prevEl: '.swiper-button-prev.c',
            },
        })
    })
</script>