<link rel="stylesheet" href="/ContentWeb/css/study.css">
<script src="/ContentWeb/swiper/js/swiper.min.js"></script>
<link rel="stylesheet" href="/ContentWeb/swiper/css/swiper.min.css">
<div class="study">
    <div class="swiper-container" id="studySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="slide">
                    <div class="l">
                        <p>理念 | Philosophy</p>
                        <h2>空间即媒介</h2>
                        <span class="a">Space is Medium</span>
                    </div>
                    <div class="c">

                    </div>
                    <div class="r">
                        <p style="font-size:1.6vw;">「建筑即身体的扩展，人即建筑之精神」，「媒介即人之感官与肢体的延伸」，建筑及建筑空间与媒介就此合二为一。</p>
                        <p style="font-size:1.6vw;">现代建筑及空间营造的要旨，在于随物赋形、为心造境，激发空间与身体行为的互动，营造无垠广袤的空间感知。</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slide">
                    <div class="l">
                        <p>方法论 | Methodology</p>
                        <h2>关系的设计</h2>
                        <span class="a">Design is About Handling Relations</span>
                    </div>
                    <div class="c">

                    </div>
                    <div class="r">
                        <p style="font-size:1.6vw;">「建筑即身体的扩展，人即建筑之精神」，「媒介即人之感官与肢体的延伸」，建筑及建筑空间与媒介就此合二为一。</p>
                        <p style="font-size:1.6vw;">现代建筑及空间营造的要旨，在于随物赋形、为心造境，激发空间与身体行为的互动，营造无垠广袤的空间感知。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        var mySwiper = new Swiper('#studySwiper', {
            loop: true, // 循环模式选项
            speed: 800,
            // autoplay: {
            //     delay: 5000,
            //     stopOnLastSlide: false,
            //     disableOnInteraction: true,
            // }
        })
    })
</script>