<link rel="stylesheet" href="/ContentWeb/css/about.css">
<div style="width: 80%;margin: 5vw auto; text-align: center;">
    <img src="/ContentWeb/images/logo2.jpg"     alt="">
</div>
<div class="team" style="margin-bottom: 10vw;">
    <div class="content" style="min-height: 15vw;">
        <div class="l">
            <h2>价值观</h2>
        </div>
        <div class="r">
            <p style="font-size: 0.9vw;line-height: 2;">
                秉持「空间即媒介」的基本观点，主张「关系的设计」方法，协调处理大小、内外、新旧、人工与自然等之间的关系，提升物质空间的精神内涵和体验价值。
            </p>
        </div>
    </div>
</div>